.navigation {
  background: @second;

  .logo {
    .navbar-brand();
    color: #fff;
    font-size: 22px;
    font-family: 'Nixie One', sans-serif;
    &:hover {
      text-shadow: 1px 1px 2px @highlight;
    }
  }

  ul.nav {
    li {
      a {
        font-size: 16px;
        &:hover {
          color: @highlight;
        }
      }
      &:hover {
        background: @first;
      }
    }
  }
}

#content {
  .container {
    background: @fourth;
  }
}