.startpage {
  .box {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;

    .error {
      .text-center();
      color: @highlight;
    }

    .loading {
      .make-xs-column(12);
      .text-center();
    }

    .show_all {
      .pull-right();
      margin: 10px 0 10px 0;
      a {
        .btn();
        .btn-primary();
        font-size:16px;
      }
    }

    .signup_now {
      .make-xs-column(2);
      .text-center();
    }
  }

  h2 {
    margin:12px;

    i {
      color: @highlight;
    }
  }

  .marketing_preview {
    width: 100%;
    padding: 10px;
    margin: 0;
    background: url(busy_man.jpg) 0px -140px;
    min-height: 270px;

    h1, p {
      color: @fourth;
      margin-left:70px;
      margin-top:30px;
      padding: 4px;
      float:left;
      clear:both;
      background-color: rgba(31, 31, 31, 0.498039);
    }
  }

  .teaser {
    .container();
    .box();
    .text {
      .make-xs-column(10);
      font-size: 24px;

      strong {
        color: @first;
        font-weight: bold;
      }
    }
    .graph {
      .make-xs-column(4);
      .visible-md();
      .visible-lg();
      i {
        &.fa-fill {
          color: @third;
          font-size: 20em;
        }
      }
    }
    .explanation {
      .make-xs-column(8);
      font-size: 18px;

      ul {
        margin-left: 20px;
      }
    }

  }

  .experts_preview, .categories_preview, .group_preview, .use_case_preview, .how_it_works , .satisfaction, .testimonials {
    .box();
    .container();
  }

  .use_case_preview {
    .row {
      margin: 10px;
    }
    .image {
      .make-md-column(4);
      min-height: 200px;

      &#handshake {
        background: url(handshake.jpg) 23px -64px;
      }
      &#help {
        background: url(professional_help.jpg) -45px -78px;
      }
    }
    .explanation {
      .make-md-column(8);
    }
  }

  .how_it_works {
    .step {
      .make-md-column(4);
      .image {
        min-height: 200px;
        margin-bottom: 10px;

        &#step1 {
          background: url(idea.png) no-repeat 50px 6px;
        }
        &#step2 {
          background: url(telephone.png) no-repeat 80px;
        }
        &#step3 {
          background:url(success.png) no-repeat 33px -2px;
        }
      }
    }
  }

  .testimonials {
    .signup_now {
      .make-xs-column(12);
      .text-center();
      margin-top: 10px;
    }
  }
}