<div class="signup">
  <div class="box">
    <div class="row">
      <div class="col-lg-12">
        <div class="signup_box">
          <h4>Signup with an existing account</h4>
          <br>
          <ul class="social_buttons">
            <li>
              <%= link_to user_omniauth_authorize_path(provider:'linkedin'), class: 'linkedin', data: { disable_with: 'Connecting...'} do %>
                <i class="fa fa-linkedin"></i> Sign up with LinkedIn
              <% end %>
            </li>
          </ul>
          <hr class="intro-divider">
          <h5>Signup with email</h5>
          <p>(TODO)</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>



