<p>Hi <%= @user.name %>!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, numquam explicabo sed doloremque voluptatem hic itaque cum nisi quas tempore dicta facere quos modi placeat excepturi blanditiis vero magni culpa!</p>