<p>Hi <%= @user.name %>!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, numquam explicabo sed doloremque voluptatem hic itaque cum nisi quas tempore dicta facere quos modi placeat excepturi blanditiis vero magni culpa!</p>

<p>Your confirmation link: <a href="http://consulted.co/#!/confirm/<%= @user.access_token %>"></a></p>
