<div ng-app="consulted.browser">
  <div ng-view></div>
  <% %w(bread lookup main browse group learn).each do |partial| %>
  <script type="text/ng-template" id="<%= partial %>">
    <%= render partial: "search/ng/#{partial}"  %>
  </script>
  <% end %>
</div>
