<div ng-app="consulted.browser" class="consulted-app browser" id="groups">
  <% %w(bread lookup browse group categories learn popular child).each do |partial| %>
  <script type="text/ng-template" id="<%= partial %>">
    <%= render partial: "search/ng/#{partial}" %>
  </script>
  <% end %>
  <h2>Search for the right service offering</h2>
  <div lookup></div>
  <div ng-view></div>
  <div popular></div>
</div>
