<div ng-app="consulted.browser" class="consulted-app browser" id="groups">
  <% %w(bread lookup main browse group categories learn).each do |partial| %>
  <script type="text/ng-template" id="<%= partial %>">
    <%= render partial: "search/ng/#{partial}"  %>
  </script>
  <% end %>
  <div lookup></div>
  <h2>Or browse our service offerings</h2>
  <div ng-view></div>
  <h2>Popular offerings</h2>
  <div id="popular-offerings" class="clr">
    <div class="col-md-4">
      <ul>
        <li><a href="#/corporate-strategy-and-business-portfolio-management">Corporate Strategy &amp; Portfolio Management​</a></li>
        <li><a href="#/cost-and-overhead-reduction">Cost &amp; Overhead Reduction</a></li>
        <li><a href="#/business-valuation">Business Valuation</a></li>
        <li><a href="#/performance-measurement-and-steering-system">Performance Measurement &amp; Steering System</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li><a href="#/partnerships-alliances-and-joint-ventures-jv">Partnerships, Alliances &amp; JVs</a></li>
        <li><a href="#/due-diligence-acquisition-and-vendor">Due Diligence</a></li>
        <li><a href="#/sourcing-and-procurement">Sourcing &amp; Procurement</a></li>
        <li><a href="#/it-performance-improvement-slash-cost-reduction">IT Performance Improvement / Cost Reduction</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li><a href="#/channel-management">Channel Management</a></li>
        <li><a href="#/pricing-and-margin-management">Pricing &amp; Margin Management</a></li>
        <li><a href="#/digital-marketing-sales-and-channel-use">Digital Marketing &amp; Channel Use</a></li>
        <li><a href="#/hiring-slash-interview-guidance-and-mock-interviews">Hiring / interviewing guidance &amp; trial interviews</a></li>
      </ul>
    </div>
  </div>
</div>
