<div ng-app="consulted.browser" class="consulted-app browser" id="groups">
  <div lookup></div>
  <h2>Or browse our service offerings</h2>
  <div ng-view></div>
  <% %w(bread lookup main browse group categories learn).each do |partial| %>
  <script type="text/ng-template" id="<%= partial %>">
    <%= render partial: "search/ng/#{partial}"  %>
  </script>
  <% end %>
</div>
