<div class="add_event_window">
  <div class="modal-header">Add a new avalability</div>
  <div class="modal-body">
    <div ng-show="loading" class="text-center">
      <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>
    <div ng-hide="loading">
      foo
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="add()" class="btn btn-primary">Add availability</button>
  </div>
</div>
