<div class="offer_window">
  <div class="modal-header">Select a service offering</div>
  <div class="modal-body">
    <div ng-show="loading" class="text-center">
      <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>
    <div ng-hide="loading">
      <div class="row">
        <div class="col-lg-12">
          <select class="form-control" ng-options="group.name for group in groups" ng-model="selection.segment"></select>
        </div>
      </div>
      <div ng-show="selection.segment.children.length > 0" class="row">
        <div class="col-lg-12">
          <select class="form-control" ng-options="group.name for group in selection.segment.children" ng-model="selection.subgroup"></select>
        </div>
      </div>
      <div class="row" ng-show="selection.subgroup.children.length > 0">
        <div class="col-lg-12">
          <select class="form-control" ng-options="group.name for group in selection.subgroup.children" ng-model="selection.category"></select>
        </div>
      </div>
      <div class="row" ng-show="selection.category.children.length > 0">
        <div class="col-lg-12">
          <select class="form-control" ng-options="group.name for group in selection.category.children" ng-model="selection.service_offering"></select>
        </div>
      </div>
      <div class="row" ng-show="current_selection.children.length === 0">
        <div class="container">
          <h3>{{current_selection.name}}</h3>
          <p>{{current_selection.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="select()" class="btn btn-primary" ng-disabled="current_selection.children.length > 0 || !current_selection">Add this service offering</button>
  </div>
</div>
