<div class="search">
  <div class="row">
    <div id="consulted_finder">
      <script type="text/ng-template" id="finder">
        <%= render partial: 'users/search/ng/finder' %>
      </script>
      <script type="text/ng-template" id="display">
        <%= render partial: 'users/search/ng/display' %>
      </script>
    </div>
  </div>
  <div class="row">
    <div id="consulted_categories">
      <script type="text/ng-template" id="categories">
        <%= render partial: 'users/search/ng/categories' %>
      </script>
    </div>
  </div>
</div>
