<div id="calls" ng-app="consulted.overview">
  <div ng-controller="TableCtrl">
    <div class="overview-table-head">In the next 7 days</div>
    <table class="overview-table table table-striped">
      <tbody ng-show="loading">
        <tr>
          <td colspan="5">Loading...</td>
          <td></td>
        </tr>
      </tbody>
      <tbody no-calls ng-show="new_calls.length == 0" text="There are no calls within the next 7 days.">
      </tbody>
      <tbody call="call" class="ng-cloak" ng-repeat="call in new_calls" ng-show="new_calls.length > 0">
      </tbody>
    </table>

    <div class="overview-table-head">In 7 days or more</div>
    <table class="overview-table table table-striped">
      <tbody class="ng-cloak" ng-show="loading">
        <tr>
          <td colspan="5">Loading...</td>
          <td></td>
        </tr>
      </tbody>
      <tbody no-calls ng-show="new_calls.length == 0" text="There are no calls in seven days or more.">
      </tbody>
      <tbody call="call" class="ng-cloak" ng-repeat="call in future_calls" ng-show="!loading && future_calls.length > 0">
      </tbody>
    </table>
  </div>
  <% %w(call no_call).each do |partial| %>
    <script type="text/ng-template" id="<%= partial %>">
      <%= render partial: "users/dashboard/ng/#{partial}" %>
    </script>
  <% end %>
</div>
