<div class="modal fade" id="<%= dom_id(call) %>" tabindex="-1" role="dialog" aria-labelledby="Call control" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="Timezone change">Change your timezone</h4>
      </div>
    </div>
  </div>
</div>
