<div class="dashboard container">
  <%= render partial: 'layouts/messages' %>
    <div class="overview-head row">
      <div class="col-md-7">
        <h1>
          Upcoming Calls
          <span class="flaticon flaticon-help help"></span>
        </h1>
        <div class="ovr-timezone">
          <%= render partial: 'timezone' %>
          <a class="btn btn-primary btn-xs" id="change_tz" data-toggle="modal" data-target="#tz_modal">Change</a>
        </div>
        <%= render partial: 'timezone_modal' %>
      </div>
      <div class="col-md-offset-1 col-md-4">
        <div id="quickaccess">
          <p id="quickaccess-head">Quick Access</p>
          <div id="quickaccess-text">
            <p>I want to...</p>
            <div class="clr">
              <%= link_to do %>
                Manage calls I requested (I seek advice)
              <% end %>
            </div>
            <div class="clr"><a href="#">Manage calls I offered (I offer advice)</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="overview-table-head">In the next 7 days</div>
    <table class="overview-table table table-striped">
      <tbody>
        <tr>
          <td>Requested</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Sheduled</td>
          <td><a class="link-cancel" href="#">cancel</a>
          </td>
        </tr>
        <tr>
          <td>Offered</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Sheduled</td>
          <td><a class="link-cancel" href="#">cancel</a>
          </td>
        </tr>
        <tr>
          <td>Requested</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Sheduled</td>
          <td><a class="link-cancel" href="#">cancel</a>
          </td>
        </tr>
        <tr>
          <td>Offered</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Sheduled</td>
          <td><a class="link-cancel" href="#">cancel</a>
          </td>
        </tr>
        <tr class="pending">
          <td>Offered</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Pending your confirmation</td>
          <td><a class="link-confirm" href="#">confirm</a>  <a class="link-deny" href="#">deny</a>
          </td>
        </tr>
        <tr class="pending">
          <td>Offered</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Pending your confirmation</td>
          <td><a class="link-confirm" href="#">confirm</a>  <a class="link-deny" href="#">deny</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="overview-table-head">In the next 7 days</div>
    <table class="overview-table table table-striped">
      <tbody>
        <tr>
          <td>Requested</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Sheduled</td>
          <td><a class="link-cancel" href="#">cancel</a>
          </td>
        </tr>
        <tr>
          <td>Offered</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Sheduled</td>
          <td><a class="link-cancel" href="#">cancel</a>
          </td>
        </tr>
        <tr>
          <td>Requested</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Sheduled</td>
          <td><a class="link-cancel" href="#">cancel</a>
          </td>
        </tr>
        <tr>
          <td>Offered</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Sheduled</td>
          <td><a class="link-cancel" href="#">cancel</a>
          </td>
        </tr>
        <tr class="pending">
          <td>Offered</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Pending your confirmation</td>
          <td><a class="link-confirm" href="#">confirm</a>  <a class="link-deny" href="#">deny</a>
          </td>
        </tr>
        <tr class="pending">
          <td>Offered</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Pending your confirmation</td>
          <td><a class="link-confirm" href="#">confirm</a>  <a class="link-deny" href="#">deny</a>
          </td>
        </tr>
      </tbody>
    </table>

</div>
