<div class="container">
  <div class="text-center" id="loading_linkedin">
    <div class="wrap">
      <p><i class="fa fa-4x fa-refresh fa-spin"></i></p>

      <p>Please wait while we are trying to retrieve your profile information.</p>
    </div>
  </div>
</div>
