<div class="container">
  <div class="text-center" id="loading_linkedin">
    <div class="wrap">
      <p id="loading"><i class="fa fa-4x fa-refresh fa-spin"></i></p>
      <p id="error" style="display:none"><i class="fa fa-4x fa-warning"></i></p>

      <p id="status">Please wait while we are trying to retrieve your profile information.</p>
      <div id="error_msg" style="display:none">
        <p>There was an error synchronizing your profile. Please try reloading.</p>
        <p>If this problem persists, please <a href="mailto:support@consulted.co">contact our support</a></p>
      </div>
    </div>
  </div>
  <div id="synchro_trigger"></div>
</div>
