<div class="tab-pane" id="settings-confident">
  <h2>Confidentiality &amp; Conduct: Marketplace Compliance</h2>
  <p>In addition to CONSULTED.co terms of Service you agreed to during signup, advice seekers and experts are required to review and sign confidentiality and conduct agreements before they can conduct calls.</p>
  <div class="row">
    <div class="col-md-6 text-center">
      <h3>Advice seeker</h3>
      <p class="confident-head">Required to review and sign if you want to book experts on CONSULTED.co</p>
      <div class="well">
        <p>I hereby declare that I have read and comply with the advice <a href="#">seeker policy</a>.</p>
        <div class="form-group">
          <input type="text" class="form-control" value="John Doe" disabled="">
        </div>
        <div class="policy signed">
          <p>Signed on 28 March, 2014</p>
          <p><a href="#">Download a PDF copy of my records.</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <h3>Expert</h3>
      <p class="confident-head">Required to review and sign if you want to offer your time on CONSULTED.co</p>
      <div class="well">
        <p>I hereby declare that I have read and comply with the advice <a href="#">seeker policy</a>.</p>
        <div class="form-group">
          <input type="text" class="form-control" value="John Doe" disabled="">
        </div>
        <div class="policy">
          <p class="req">Not signed. You're not able to offer time.</p>
          <p><a href="#">Download a PDF copy of my records.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
