<div id="user_email">
  <%= form_for @user, url: profile_settings_path, remote: true, html: { id: 'user_email_form' } do |f| -%>
  <div class="input-group">
      <%= f.text_field :contact_email, value: f.object.notification_email, class: "form-control#{' chk' if @user.confirmed?}", readonly: true %>
    <span class="input-group-btn">
      <a id="unlock_user_email" class="btn btn-primary" type="button">Change</a>
    </span>
    <span class="input-group-btn">
      <%= f.submit "Save", id: 'save_user_email', style: 'display:none', class: 'btn btn-primary' %>
    </span>
  </div>
  <% end %>
</div>
