<h1>Settings</h1>
<ul id="settings-tabs" class="nav nav-tabs">
  <li class="active"><a href="#settings-profile" data-toggle="tab">Profile</a>
  </li>
  <li class=""><a href="#settings-confident" data-toggle="tab">Confidentality</a>
  </li>
  <li class=""><a href="#settings-billing" data-toggle="tab">Billing</a>
  </li>
</ul>
<div id="settings-content" class="tab-content">
  <%= render partial: 'social' %>
  <%= render partial: 'confidentiality' %>
  <%= render partial: 'billing' %>
</div>
