<div class="result col-xs-12">
  <h4>{{group.name}}</h4>
  <p class="lead" ng-show="group.description">{{group.description}}</p>
  <div class="text-center">
    <a ng-href="{{group.link}}">View Experts</a>
  </div>
</div>
