<div>
  <h2>Find the right expert for your problem</h2>
  <form class="form-horizontal" ng-submit="search()">
    <div class="col-sm-8">
      <input type="text" sf-typeahead options="options" datasets="data" ng-model="selected" class="form-control">
    </div>
    <div class="col-sm-4">
      <input type="submit" value="Search" class="btn btn-primary">
    </div>
  </form>
  <div class="row">
    <div class="searching col-xs-12 text-center" ng-show="searching">
      <i class="fa fa-2x fa-spinner fa-spin"></i>
    </div>
    <div group-display ng-show="!searching && group"></div>
  </div>
</div>