<div ng-app="consulted.finder" class="consulted-app finder" data-group="<%= @group.slug %>">
  <% %w(filter).each do |partial| %>
  <script type="text/ng-template" id="<%= partial %>">
    <%= render partial: "groups/ng/#{partial}"  %>
  </script>
  <% end %>
</div>

