<div id="landing-advice" class="slide-text">
  <div class="container">
    <h2>Advice from experts</h2>
    <p class="section-description text-center">Nullam venenatis pellentesque nunc, ac imperdiet metus cursus fusce malesuada dolor quis nunc convallis euismod.</p>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'graph.svg', alt: 'Advice from experts', class: 'advice-graph'  %>
      </div>
      <div class="advices col-md-8">
        <p class="advice advice01">Solve your business problems more effectively by talking to high value professional service <strong>experts with specific domain expertise.</strong></p>
        <p class="advice advice02">Directly access globally distributed knowledge at <strong>low cost</strong></p>
        <p class="advice advice03">Identify the most knowledgeable experts specifically for your business problem <strong>with the help of our well defined service offerings</strong></p>
        <p>
          <%= link_to find_an_expert_path do %>
            Explore service offerings &amp; browse experts <span class="fa fa-arrow-right"></span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>