 <div id="landing-howitworks" class="slide-text">
  <div class="container">
    <h2>How it works</h2>
    <p class="section-description text-center">Get expert advice in 3 simple steps</p>
    <div class="row">
      <div class="how how-browse col-md-4 text-center">Browse service offerings and find the right expert</div>
      <div class="how how-shedule col-md-4 text-center">Schedule a call</div>
      <div class="how how-connect col-md-4 text-center">Connect with the expert through our call bridge</div>
    </div>
    <p class="link-centered"><a href="#">Learn More<span class="fa fa-arrow-right"></span></a></p>
  </div>
</div>
<div class="slide-text text-grey">
  <div class="satisfaction container">
    <p class="satisfaction-head">Your satisfaction is our primary goal</p>
    <p>Due to the high professionalism of both the advisers as well as the advice seekers on our platform, we gladly offer a satisfaction guarantee. Should a call did not happen as expected, we get in touch wirh both parties and see how we can make it right. If that’s not possible, we’ll give you the money back.</p>
  </div>
</div>
