<div id="landing-offerings" class="slide-text">
  <div class="container">
    <h2>Service Offerings</h2>
    <p class="section-description text-center">Our well defined Service Offerings help advice seekers to find the right experts to answer diverse questions like:</p>
    <div class="row">
      <div class="offering col-md-6">
        <p><span class="fa fa-quote-left"></span> <em>How can I increase the value of my company during the upcoming negoriations?</em></p>
        <p><a href="#">Valuation Guidance <span class="fa fa-arrow-right"></span></a></p>
      </div>
      <div class="offering col-md-6">
        <p><span class="fa fa-quote-left"></span> <em>What points in my board representation are not clear and need revision?</em></p>
        <p><a href="#">Sounding Board <span class="fa fa-arrow-right"></span></a></p>
      </div>
      <div class="offering col-md-6">
        <p><span class="fa fa-quote-left"></span> <em>How competitive is the aircraft engine market in China?</em></p>
        <p><a href="#">Aerospace Suplier Expert <span class="fa fa-arrow-right"></span></a></p>
      </div>
      <div class="offering col-md-6">
        <p><span class="fa fa-quote-left"></span> <em>What is a typical job interview at a Global Management consultancy like?</em></p>
        <p><a href="#">Mock Interview <span class="fa fa-arrow-right"></span></a></p>
      </div>
    </div>
  </div>
</div>