<div id="landing-offerinfos" class="slide-text text-grey">
  <div class="container">
    <p class="offerinfo-head">Find experts in 500+ Service Offerings</p>
    <div class="row">
      <div class="offerinfo col-md-3">
        <p class="service-head">Methodological Advice</p>
        <p>Advance your ideas with proven frameworks and their correct applications</p>
        <ul class="service-list">
          <li><span class="fa fa-arrow-right"></span> Problem structuring</li>
          <li><span class="fa fa-arrow-right"></span> Idea generation</li>
          <li><span class="fa fa-arrow-right"></span> Sounding Board</li>
          <li><span class="fa fa-arrow-right"></span> + 150 more</li>
        </ul>
      </div>
      <div class="offerinfo col-md-3">
        <p class="service-head">Functional Advice</p>
        <p>Learn specifics from functional experts and apply them to your situation</p>
        <ul class="service-list">
          <li><span class="fa fa-arrow-right"></span> Valuation guidance</li>
          <li><span class="fa fa-arrow-right"></span> Startup financing</li>
          <li><span class="fa fa-arrow-right"></span> Market entry</li>
          <li><span class="fa fa-arrow-right"></span> + 150 more</li>
        </ul>
      </div>
      <div class="offerinfo col-md-3">
        <p class="service-head">Industry Advice</p>
        <p>Discover industry insights fast and from the people who live it on day-to-day basis</p>
        <ul class="service-list">
          <li><span class="fa fa-arrow-right"></span> Aerospace component manufacturing</li>
          <li><span class="fa fa-arrow-right"></span> Aerospace global sourcing</li>
          <li><span class="fa fa-arrow-right"></span> Basic materials</li>
          <li><span class="fa fa-arrow-right"></span> + 150 more</li>
        </ul>
      </div>
      <div class="offerinfo col-md-3">
        <p class="service-head">Career Advancement</p>
        <p>Improve your chances to land or grow your professional services job with guidance from insiders</p>
        <ul class="service-list">
          <li><span class="fa fa-arrow-right"></span> Mock interview</li>
          <li><span class="fa fa-arrow-right"></span> Career mentoring</li>
          <li><span class="fa fa-arrow-right"></span> Issue advice</li>
          <li><span class="fa fa-arrow-right"></span> + 150 more</li>
        </ul>
      </div>
    </div>
    <p class="link-centered"><a href="#">Explore service offerings &amp; browse experts<span class="fa fa-arrow-right"></span></a></p>
  </div>
</div>