<div id="landing-testimonials" class="slide-text text-grey">
  <div class="container">
    <h2>Testimonials</h2>
    <p class="section-description text-center">Advice seekers like you love to use CONSULTED</p>
    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <div class="item active">
          <p class="testimonial">Based on his extensive experience company transactions, Jonathan was able to provide actionable advice into how I can increase my company’s value during negotiations. Paid of 1,000 - fold!</p>
          <p>- Jason, TX, USA</p>
        </div>
        <div class="item">
          <p class="testimonial">Discuss different levevers to increase your company’s valuation during a negotiation with a former investment banker specialized in transactions.</p>
          <p>- Austin, TX, USA</p>
        </div>
        <div class="item">
          <p class="testimonial">Due to the high professionalism of both the advisers as well as the advice seekers on our platform, we gladly offer a satisfaction guarantee</p>
          <p>- Nessee, TX, USA</p>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#testimonial-carousel" data-slide-to="1"></li>
        <li data-target="#testimonial-carousel" data-slide-to="2"></li>
      </ol>
    </div>
    <p class="text-center">
      <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>
        Sign Up
      <% end %>
    </p>
    <p class="postbtn">interested to join as expert?</p>
  </div>
</div>