<div id="landing-testimonials" class="slide-text text-grey">
  <div class="container">
    <h2>Testimonials</h2>
    <p class="section-description text-center">Advice seekers love to use CONSULTED</p>
    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
      <div class="carousel-inner">
        <div class="item active">
          <p class="testimonial">Based on his extensive experience company transactions, Jonathan was able to provide actionable advice into how I can increase my company’s value during negotiations. Paid off 1,000 - fold!</p>
          <p>- Jason, TX, USA</p>
        </div>
        <div class="item">
          <p class="testimonial">CONSULTED.co is great. It let's me access exactly that expert knowledge I need. Without ridiculous overhead.</p>
          <p>- Paul, NJ, USA</p>
        </div>
        <div class="item">
          <p class="testimonial">Simply better than any other traditional option out there.</p>
          <p>- David, CA, USA</p>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#testimonial-carousel" data-slide-to="1"></li>
        <li data-target="#testimonial-carousel" data-slide-to="2"></li>
      </ol>
    </div>
    <%= render partial: 'layouts/signup' %>
  </div>
</div>