<div id="landing-toptier" class="slide-text text-grey">
  <div class="container">
    <h2>Top-tier Professionals</h2>
    <p class="section-description text-center">Access top-tier professional service experts like these:</p>
    <div class="persons row">
      <div class="col-md-4">
        <div class="person clr">
          <div class="person-img">
            <%= image_tag 'person01.png', alt: 'Jonathan' %>
            <p class="person-name">Jonathan</p>
          </div>
          <div class="person-info">
            <p><strong>eBay GmbH,</strong> Vice President eBay Motors <em>former</em></p>
            <p><strong>McKinsey and Company,</strong> Partner</p>
          </div>
        </div>
        <div class="person-service">
          <p class="service-head">Selected Service Offerings</p>
          <ul class="service-list">
            <li><span class="fa fa-arrow-right"></span> Problem structuring</li>
            <li><span class="fa fa-arrow-right"></span> Idea generation</li>
            <li><span class="fa fa-arrow-right"></span> Sounding board</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="person clr">
          <div class="person-img">
            <%= image_tag 'person02.png', alt: 'Bill' %>
            <p class="person-name">Bill</p>
          </div>
          <div class="person-info">
            <p><strong>Amazon Inc,</strong> Partner Amazon Ventures <em>former</em></p>
            <p><strong>Lazard,</strong> Director Global M&amp;A</p>
          </div>
        </div>
        <div class="person-service">
          <p class="service-head">Selected Service Offerings</p>
          <ul class="service-list">
            <li><span class="fa fa-arrow-right"></span> Mock interviews</li>
            <li><span class="fa fa-arrow-right"></span> Startup advice</li>
            <li><span class="fa fa-arrow-right"></span> Valuation guidance</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="person clr">
          <div class="person-img">
            <%= image_tag 'person03.png', alt: 'Kirtsy' %>
            <p class="person-name">Kirtsy</p>
          </div>
          <div class="person-info">
            <p><strong>Lockheed Martin,</strong> Senior Manager Quality <em>former</em></p>
            <p><strong>Boeing,</strong> Manager Global Sourcing</p>
          </div>
        </div>
        <div class="person-service">
          <p class="service-head">Selected Service Offerings</p>
          <ul class="service-list">
            <li><span class="fa fa-arrow-right"></span> Aerospace component manufacturing</li>
            <li><span class="fa fa-arrow-right"></span> Aerospace global sourcing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>