<div id="landing-wecanhelpyou" class="slide-text">
  <div class="container">
    <h2>We Can Help You</h2>
    <p class="section-description text-center">Learn more about how our service offerings of our experts can help you</p>
    <div class="wecanhelpyou row">
      <div class="wecanhelpyou-image col-md-4 text-left">
        <%= image_tag 'board-presentation.svg', alt: 'Presentations' %>
      </div>
      <div class="wecanhelpyou-text col-md-8">
        <p>Get high impact <strong>feedback on your next board presentation</strong> by a former partner of a strategy consulting firm specialized in your industry.</p>
        <p class="gray">Methodological Advice > Review & Feedback > Presentations > Sounding Board</p>
      </div>
    </div>
    <div class="wecanhelpyou row">
      <div class="wecanhelpyou-image col-md-4 col-md-push-8 text-right">
      <%= image_tag 'company-valuation.svg', alt: 'Company valuation' %>
      </div>
      <div class="wecanhelpyou-text col-md-8 col-md-push-4">
        <p>Discuss different levevers to <strong>increase your company’s valuation</strong> during a negotiation with a former investment banker specialized in transactions.</p>
        <p class="gray">Functional Advice > Consulting Services > Corporate Finance > Valuation Guidance</p>
      </div>
    </div>
    <%# TODO: where does this go? %>
    <p class="link-centered"><a href="#">Show More Cases<span class="fa fa-arrow-right"></span></a></p>
  </div>
</div>
