<div id="landing-main" class="slide-photo">
  <div class="heading">
    <h1>Business advice from world-class experts just a phone call away</h1>
    <p>
      <%= link_to new_user_registration_path, class: 'btn btn-default' do %>
        Sign up
      <% end %>
    </p>
    <p class="postbtn">
      <%= link_to 'interested to join as an expert?', '#' %>
    </p>
  </div>
  <div id="landing-main-bottom">
    <div class="container">
      <p>CONSULTED.co is a marketplace that connects advice seekers with business professionals who have a background in management consulting, finance and venture capital, as well as specialized industry expertize</p>
    </div>
  </div>
</div>