<div id="landing-main" class="slide-photo">
  <div class="heading">
    <h1>Business advice</h1>
    <p class="lead">from world class experts</p>
    <p>
      <%= link_to new_user_registration_path, class: 'btn btn-default' do %>
        Signup
      <% end %>
    </p>
    <p class="postbtn">interested to join as expert?</p>
  </div>
  <div id="landing-main-bottom">
    <div class="container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nam consectetur sed augue a blandit. Nulla eu laoreet leo nullam nunc libero, ultrices consectetur neque ac, hendrerit gravida risus vestibulum condimentum egestas justo.</p>
    </div>
  </div>
</div>