<div id="landing-main" class="slide-photo">
  <div class="heading">
    <h1>Business advice from world-class experts just a phone call away</h1>
    <p>
      <%= link_to new_user_registration_path, class: 'btn btn-default' do %>
        Sign up
      <% end %>
    </p>
    <p class="postbtn">
      <%= link_to 'interested to join as an expert?', join_as_expert_path %>
    </p>
  </div>
  <div id="landing-main-bottom">
    <div class="container">
      <p>CONSULTED is a marketplace for on-demand expert advice that allows advice seekers to book telephone calls with professionals who have management consulting, finance and venture capital backgrounds, as well as specialized industry expertise</p>
    </div>
  </div>
</div>
