<div class="container favorites">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <% if @favorites.any? %>
        <div class="col-lg-12 <% if @favorites.empty? %>hidden<% end %>">
          <hr>
          <h2>Your bookmarked experts</h2>
          <% @favorites.each do |expert| %>
            <div class="row">
              <div class="col-lg-2">
                <%= image_tag expert.profile_image.url, class: 'img-responsive', alt: expert.name %>
              </div>
              <div class="col-lg-6">
                <h4><%= expert.name %></h4>
                <%= link_to(favorite_path(expert), method: :put, remote: true, id: 'fav_link') do %>
                <%#data: { confirm: 'Are you sure?' }%>
                  <i class="fa fa-star<%= (@user.favorites.where(favorite_id: expert._id).exists?) ? '' : '-o'  %>"></i> Bookmark
                <% end %>
              </div>
              <div class="col-lg-4">
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="col-lg-12 text-center">
          <hr>
          <h3>You have no bookmarked expoerts</h3>
        </div>
      <% end %>
    </div>
  </div>
</div>

