<ul class="bread" ng-show="crumbs.length > 0">
  <li>
    <a ng-href="#/">Find an expert: Home</a>
  </li>
  <li ng-repeat="crumb in crumbs">
    <a ng-href="#/{{crumb.slug}}" ng-hide="$last && !hideGroup">{{crumb.name}}</a>
    <span ng-show="$last && !hideGroup">{{crumb.name}}</span>
  </li>
</ul>
