<div>
  <div class="row">
    <div class="initial">
      <div class="col-md-3">
        <div class="advice-group">
          <div class="advice-head">Career advancement</div>
          <p>Improve your chances to land or grow your professional services job with guidance from insiders</p>
          <ul>
            <li>
              <span>
                <%= link_to "Financial Services", "#{groups_path}/financial-services" %>
              </span>
            </li>
            <li>
              <span>
                <%= link_to "Venture Capital (VC) & Startup", "#{groups_path}/venture-capital-vc-and-startup" %>
              </span>
            </li>
            <li>
              <span>
                <%= link_to "Professional Growth Insights", "#{groups_path}/mentoring-and-professional-growth-insights" %>
              </span>
            </li>
            <li>
              <span>+ 20 more</span>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="select('career-advancement-in-professional-services')">Details</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="advice-group disabled">
          <div class="advice-head">Functional advice</div>
          <p>Understand specific approaches and get insights from functional experts to support your business</p>
          <ul>
            <li>
              <span>
                First offering
              </span>
            </li>
            <li>
              <span>
                Second offering
              </span>
            </li>
            <li>
              <span>
                Third offering
              </span>
            </li>
            <li>
              <span>+ 150 more</span>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="select('functional-advice')">Details</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="advice-group disabled">
          <div class="advice-head">Industry Insights</div>
          <p>Obtain granular industry insights on demand from the people who live it on day-to-day basis</p>
          <ul>
            <li>
              <span>
                First offering
              </span>
            </li>
            <li>
              <span>
                Second offering
              </span>
            </li>
            <li>
              <span>
                Third offering
              </span>
            </li>
            <li>
              <span>+ 250 more</span>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="select('industry-insights')">Details</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="advice-group disabled">
          <div class="advice-head">Methodological Advice</div>
          <p>Advance your ideas with proven frameworks and their correct applications</p>
          <ul>
            <li>
              <span>
                First offering
              </span>
            </li>
            <li>
              <span>
                Second offering
              </span>
            </li>
            <li>
              <span>
                Third offering
              </span>
            </li>
            <li>
              <span>+ 50 more</span>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="select('methodological-advice')">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
