<div>
  <div class="row">
    <div class="initial">
      <div class="col-md-3">
        <div class="advice-group">
          <div class="advice-head">Career advancement</div>
          <p>Improve your chances to land or grow your professional services job with guidance from insiders</p>
          <ul>
            <li>
              <span>
                <%= link_to "Financial Services", "#{groups_path}/financial-services" %>
              </span>
            </li>
            <li>
              <span>
                <%= link_to "Venture Capital (VC) & Startup", "#{groups_path}/venture-capital-vc-and-startup" %>
              </span>
            </li>
            <li>
              <span>
                <%= link_to "Professional Growth Insights", "#{groups_path}/mentoring-and-professional-growth-insights" %>
              </span>
            </li>
            <li>
              <span>+ 200 more</span>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="select('career-advancement-in-professional-services')">Details</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="advice-group disabled">
          <div class="advice-head">Functional advice</div>
          <p>We're currently looking for experts in this category!</p>
          <button class="btn btn-primary disabled">Details</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="advice-group disabled">
          <div class="advice-head">Industry Insights</div>
          <p>We're currently looking for experts in this category!</p>
          <button class="btn btn-primary disabled">Details</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="advice-group disabled">
          <div class="advice-head">Methodological Advice</div>
          <p>We're currently looking for experts in this category!</p>
          <button class="btn btn-primary disabled">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
