<div id="groups">
  <h2>Or browse our service offerings</h2>
  <div class="row">
    <div class="initial">
      <div class="col-md-3">
        <div class="advice-group">
          <div class="advice-head">Career advancement</div>
          <p>Description of career advancements</p>
          <ul>
            <li>
              <span>
                <%= link_to "Issue advice", "#{groups_path}/issue-advice" %>
              </span>
            </li>
            <li>
              <span>
                <%= link_to "Career mentoring", "#{groups_path}/career-mentoring" %>
              </span>
            </li>
            <li>
              <span>
                <%= link_to "Mock interview", "#{groups_path}/mock-interview" %>
              </span>
            </li>
            <li>
              <span>+ 200 more</span>
            </li>
          </ul>
          <%= link_to 'Details', "#{find_an_expert_path}#/career-advancement", class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="advice-group disabled">
          <div class="advice-head">Functional advice</div>
          <p>We're currently looking for experts in this category!</p>
          <button class="btn btn-primary disabled">Details</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="advice-group disabled">
          <div class="advice-head">Industry Insights</div>
          <p>We're currently looking for experts in this category!</p>
          <button class="btn btn-primary disabled">Details</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="advice-group disabled">
          <div class="advice-head">Methodological Advice</div>
          <p>We're currently looking for experts in this category!</p>
          <button class="btn btn-primary disabled">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
