<div>
  <div class="clr selectoffer-cats" ng-repeat="level in crumbs" ng-hide="last(level)">
    <div
      class="selectoffer-cat"
      ng-repeat="child in level.children | orderBy:'name'"
      ng-class="{'sel':inPath(child.slug)}"
      ng-click="select(child)"
    >
        {{child.name}}
    </div>
  </div>
  <div class="row pool clr" ng-hide="group.depth === 0">
    <div class="col-md-4">
      <div class="clr selectoffer-subcats">
        <div class="selectoffer-subcat" ng-click="select(sibling)" ng-repeat="sibling in getActiveGroup().children | orderBy:'name'" ng-class="{'sel':inPath(sibling.slug)}">
          {{sibling.name}}
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="result" ng-repeat="child in getSubGroup() | orderBy:'name'">
        <h3>{{child.name}}</h3>
        <p>{{child.description}}</p>
        <div class="result-bottom">
          <a class="result-info" ng-click="learn(child)"><span class="flaticon flaticon-info"></span>Learn more</a>
          <a ng-href="/groups/{{child.slug}}" class="btn btn-primary">Select</a>
        </div>
      </div>
    </div>
  </div>
</div>