<div class="clr">
  <div class="clr row">
    <div class="col-md-3">
      <div class="advice-group" ng-class="{'selected':inPath('career-advancement')}">
        <div class="advice-head" ng-click="goto('career-advancement')">Career Advancement</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="advice-group disabled" ng-class="{'selected':inPath('functional-advice')}">
        <div class="advice-head" ng-click="goto('functional-advice')">Functional Advice</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="advice-group disabled" ng-class="{'selected':inPath('industry-insights')}">
        <div class="advice-head" ng-click="goto('industry-insights')">Industry Insights</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="advice-group disabled" ng-class="{'selected':inPath('methodological-advice')}">
        <div class="advice-head" ng-click="goto('methodological-advice')">Methodological Advice</div>
      </div>
    </div>
  </div>
  <div class="loading text-center" ng-show="loading">
    <i class="fa fa-refresh fa-spin fa-2x"></i>
  </div>
  <div ng-hide="loading">
    <div category-bar></div>
  </div>
</div>