<div id="learnmore" class="modal-content">
  <div class="modal-header">
    <button class="close" ng-click="close()" data-dismiss="modal">x</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-8">
        <p class="learnmore-head heading">{{group.name}}</p>
        <p>{{group.description}}</p>
        <p class="learnmore-subhead">Typical questions answered in this category</p>
        <div class="row">
          <div class="col-md-6">
            {{group.seeker_gain}}
          </div>
        </div>
      </div>
      <div class="learnmore-side col-md-4">
        <br>
        <a ng-show="browse" class="btn btn-primary btn-big ng-cloak" ng-href="/groups/{{group.slug}}">Browse experts</a>
      </div>
    </div>
  </div>
</div>
