<div id="learnmore" class="modal-content">
  <div class="modal-header">
    <button class="close" ng-click="close()" data-dismiss="modal">x</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <p class="learnmore-head heading">{{group.name}}</p>
        <div ng-bind-html="group.description"></div>
        <hr>
        <h5><em>Typical questions answered in this category</em></h5>
        <div class="row">
          <div class="col-md-12 seeker_gain">
            <div ng-bind-html="group.seeker_gain"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row browse-experts text-right" ng-show="browse">
        <a ng-show="browse" class="btn btn-primary btn-big ng-cloak" ng-href="/groups/{{group.slug}}">Browse experts</a>
    </div>
  </div>
</div>
