<div id="lookup">
  <h1>Find the right expert for your problem</h1>
  <div id="search">
    <form role="form" ng-submit="lookup()">
      <div id="search-box">
        <input type="text" class="form-control" placeholder="How can we help? e.g. &quot;people hiring&quot;">
      </div>
      <button type="submit" class="btn btn-primary" id="search-sub">Search</button>
    </form>
  </div>
</div>
