<div id="popular" ng-class="{'inactive':selected()}" ng-hide="hide">
  <h2 ng-hide="selected()">Popular offerings</h2>
  <div id="popular-offerings" class="clr">
    <div ng-hide="selected()">
      <div class="col-md-4">
        <ul>
          <li><a href="/groups/corporate-strategy-and-business-portfolio-management">Corporate Strategy &amp; Portfolio Management​</a></li>
          <li><a href="/groups/cost-and-overhead-reduction">Cost &amp; Overhead Reduction</a></li>
          <li><a href="/groups/business-valuation">Business Valuation</a></li>
          <li><a href="/groups/performance-measurement-and-steering-system">Performance Measurement &amp; Steering System</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><a href="/groups/partnerships-alliances-and-joint-ventures-jv">Partnerships, Alliances &amp; JVs</a></li>
          <li><a href="/groups/due-diligence-acquisition-and-vendor">Due Diligence</a></li>
          <li><a href="/groups/sourcing-and-procurement">Sourcing &amp; Procurement</a></li>
          <li><a href="/groups/it-performance-improvement-slash-cost-reduction">IT Performance Improvement / Cost Reduction</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><a href="/groups/channel-management">Channel Management</a></li>
          <li><a href="/groups/pricing-and-margin-management">Pricing &amp; Margin Management</a></li>
          <li><a href="/groups/digital-marketing-sales-and-channel-use">Digital Marketing &amp; Channel Use</a></li>
          <li><a href="/groups/hiring-slash-interview-guidance-and-mock-interviews">Hiring / interviewing guidance &amp; trial interviews</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
