<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Your benefit</h2>
        <p class="lead">A conversation with the right expert can get you significantly ahead<p>
        <ul>
          <li>Directly access <strong>globally distributed knowledge</strong> at <strong>low cost</strong></li>
          <li>Solve your business problems by talking to <strong>high value professional service experts with specific domain expertise</strong></li>
          <li>Identify the  <strong>high value professional service experts with specific domain expertise</strong></li>
        </ul>
        <a href="/" class="btn btn-primary">Explore service offerings</a>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag image_url('ipad.png'), class: 'img-responsive', alt: '' %>
      </div>

    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->
