<div class="col-xs-12 col-lg-4 col-md-4 col-sm-12">
  <div class="row">
    <% if expert.profile_image.present? %>
      <div class="col-sm-6 col-md-4">
        <%= image_tag expert.profile_image.url, class: 'img-responsive', alt: '' %>
      </div>
    <% end %>
    <div class="col-sm-6 col-md-8">
      <h4><%= expert.name %></h4>
      <% if expert.companies.present? %>
        <ul>
          <% expert.companies.each do |company| %>
            <li><%= company.position %> at <%= company.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
