<div class="content-section-b">
  <div class="container">
    <h2 class="section-heading">Benefit from top tier service level experts like these</h2>
    <div class="row">
      <%= render partial: 'expert', collection: @experts %>
    </div>
  </div>
<!-- /.container -->
</div>
<!-- /.content-section-b -->
