<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Business advice</h1>
          <h3>from world class experts</h3>
          <h4>Just one phone call away</h4>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <%= link_to new_user_registration_path, class: 'btn btn-danger btn-lg' do %>
                <span class="network-name">Signup now</span>
              <% end %>
            </li>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
