<header class="nav-container">
  <div class="container">
    <div class="logo">
      <a href="/" id="logo">
        CONSULTED.co
      </a>
    </div>
    <nav>
      <ul>
      <li><a href="">Your benefit</a></li>
      <li><a href="">Service Offerings</a></li>
      <li><a href="">How it works</a></li>
      <li><a href="">Typical use cases</a></li>
      </ul>

      <ul class="right">
        <li class="signup"><a href="/signup">Signup</a></li>
        <li class="login">
          <%= link_to "Login", new_user_session_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>
