<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Service offerings</h2>
          <p class="lead">Granular service offerings help advice seekers to find the right experts to answer diverse questions like</p>
          <ul>
            <li>How can I increase the value of my company during the upcoming negotiations?</li>
            <li>What is a typical job interview at a Global Management consultancy like?</li>
            <li>how competitive is the airplane engine market in China?</li>
          </ul>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag image_url('phone.jpg'), class: 'img-responsive', alt: '' %>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <a class="btn btn-primary" href="/">Explore Service offerings</a>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-section-a -->