  <div class="banner">

    <div class="container">

      <div class="row">
        <div class="col-lg-5">
          <h2>Testimonals from our advice seekers</h2>
        </div>
        <div class="col-lg-5">
          <p class="lead">"Based on his extensive experience, Jonathan was able actionable advice on how to increase my company's woth during negotiations" - Peter</p>
          </ul>
        </div>
        <div class="col-lg-2 text-center">
          <p>
            <a href="/" class="btn btn-primary btn-lg">
              <span class="network-name">Signup now</span>
            </a>
          </p>
          <p>or</p>
          <p>
            <a href="/" class="btn btn-default btn-lg">
              <span class="network-name">Login</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.banner -->