<div id="offerfull-select" class="offerfull">
  <div class="offerfull-head border">
    <p class="offerfull-heading">Select Service Offerings</p>
    <p class="bigger">Select all categories you can help.</p>
  </div>
  <p>You can provide details specific to your knowledge in the category in the next step.</p>
  <div class="text-center" ng-show="loading">
    <i class="fa fa-refresh fa-spin fa-2x"></i>
  </div>
  <div class="clr" ng-hide="loading">
    <!-- selectoffer -->
    <div class="clr selectoffer-groups">
      <div class="selectoffer-group root" ng-repeat="root in roots | orderBy:'name'" ng-click="use(root)" ng-class="{'sel':inPath(root)}">{{root.name}}</div>
    </div>
    <div class="clr selectoffer-cats" ng-show="selectedRoot()">
      <div class="selectoffer-cat" ng-click="use(group)" ng-repeat="group in selectedRoot().children | orderBy:'name'" ng-class="{'sel':inPath(group)}">{{group.name}}</div>
    </div>
    <div class="row pool clr" ng-show="selectedGroup()">
      <div class="col-md-4">
        <div class="clr selectoffer-subcats">
          <div class="selectoffer-subcat" ng-repeat="group in selectedGroup().children | orderBy:'name' | orderBy: 'prioritized'" ng-class="{'sel':inPath(group)}" ng-click="use(group)">{{group.name}}</div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="result" service-offering="group" offers="offers" ng-repeat="group in selectedCategory().children | orderBy:'name'"></div>
      </div>
    </div>
  </div>
</div>
