<div class="result" ng-class="{'selected':selected(group)}">
  <h3>{{group.name}}</h3>
  <hr class="no-margin">
  <div ng-show="open">
    <div class="no-border" ng-if="group.description" ng-bind-html="group.description"></div>
    <div class="no-border" ng-if="group.seeker_gain">
      <h5><em>Typical questions asked</em></h5>
      <div ng-bind-html="group.seeker_gain"></div>
    </div>
  </div>
  <div class="result-bottom">
    <a class="result-info" ng-click="open = !open" ng-show="group.description || group.seeker_gain">
      <span ng-hide="open">
        <span class="flaticon flaticon-info"></span>Learn more
      </span>
      <span ng-show="open">Close</span>
    </a>
    <i class="fa fa-refresh fa-spin" ng-show="selecting"></i>
    <button ng-hide="selected(group)" type="button" class="btn btn-primary" ng-click="select(group)">Select</button>
    <button ng-show="selected(group)" ng-click="select(group)" type="button" class="btn btn-primary btn-deselect"><span class="flaticon flaticon-check result-selected">Selected</span></button>
  </div>
</div>
