<div id="offer_your_time">
  <h1>Offer your time</h1>
  <div id="category_select">
    <h3>Select categories</h3>
    <p>Note on rates: You can provide details specific to your knowledge in the category in the next step.</p>
    <div ng-repeat="group in groups" class="group">
      <h5>{{group.name}}</h5>
      <ul>
        <li ng-repeat="group in group.children" subgroup group="group"></li>
      </ul>
    </div>
  </div>
  <div id="offer_setup">
    <h3>Setup offers</h3>
    <p>Here be more dragons.</p>
  </div>

  <div id="languages">
    <h3>Languages</h3>
    <ul>
      <li ng-repeat="lang in languages">
        <label>
          <input type="checkbox" ng-checked="hasLanguage(lang)" ng-click="toggleLanguage(lang)"> {{lang | capitalize}}
        </label>
      </li>
    </ul>
  </div>
</div>
