<div id="offer_setup">
  <h3>Setup offers</h3>
  <div error-loading></div>
  <p ng-hide="enabledOffers()">You currently have no categories you could offer your services in. Check one above to start.</p>
  <div class="offers" ng-show="enabledOffers()">
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Rate per hour (in USD)</th>
          <th>Offered time slots</th>
          <th>Brief note what makes you experienced in this category</th>
          <th>Relevant years of experience</th>
          <th>Your current awesome count</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="offer in offers | orderBy:'name'" ng-show="offer.enabled">
          <td>{{offer.name}}</td>
          <td><input type="number" ng-change="save()" ng-model="offer.rate"></td>
          <td>
            <span
              ng-class="{'active': hasLength(length, offer)}"
              ng-repeat="length in possibleLengths"
              ng-click="toggleLength(length, offer)">
                {{length}}
            </span>
          </td>
          <td><textarea ng-change="save()" ng-model="offer.description" cols="35" rows="3"></textarea></td>
          <td><input type="number" ng-model="offer.experience" ng-change="save()"></td>
          <td>NYI.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
