body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .logo  {
  font-weight: 700;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

[ng-click], .settings-link {
  cursor:pointer;
}

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 50px auto -155px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 155px; /* .push must be the same height as .footer */
}
