body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .logo  {
  font-weight: 700;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 50px;
}
