<div>
  <p>User's name: <%= @user.name %> (<%= @user.notification_email %>)</p>
  <p>Service offering: <%= @group.name %></p>
  <p>The user did not find the right expert for the given service offering.</p>
</div>
