<div>
  <h3>Your message for your reference below:</h3>
  <div class="message">
    <p><%= @contact.subject  %><%= @contact.message %></p>
  </div>
  <div>
    <p>Subject: <%= @contact.subject %></p>
    <p><%= @contact.message %></p>
  </div>
  <p>Sent via the CONSULTED.co website contact form.</p>
</div>
