
<h1>
  About Us
</h1>
<h3>
  CONSULTED enables on-demand access to high value expert advice for businesses
</h3>
<p>
  CONSULTED is a marketplace that connects advice seekers directly with business professionals who have a background in management consulting, finance and venture capital, as well as specialized industry expertise. CONSULTED enables on-demand access to high value expert advice for businesses without the corporate overhead and rigid engagement models you know from traditional providers.
</p>
<p>
  Experts offer advice in their areas of expertise in form of meetings (telephone calls) with advice seekers. Advice seekers can book meeting time with an expert for a fee. The fee is set by the expert and paid by the advice seeker using our integrated payment system. You can learn more in our "
  <a href="./static_files/static.html">
    How it works
  </a>
  " page.
</p>
<p>
  Our marketplace covers a variety of topics ("service offerings") in areas such as methodological advice, functional advice, industry advice and career advancement. All areas are broken down to over 500 granular service offerings to ensure that the knowledge of all experts on CONSULTED is relevant to specific questions of advice seekers. Explore all service offerings&nbsp;
  <a href="./static_files/static.html">
    here
  </a>
  .
</p>

<h3>
  Business professionals are at the core of the CONSULTED marketplace
</h3>
<p>
  Advice Seekers
</p>
<ul>
  <li>
    Business school students
  </li>
  <li>
    Startup founders
  </li>
  <li>
    SME &amp; corporate professionals
  </li>
  <li>
    Professional service firms
  </li>
</ul>
<p>
  Experts
</p>
<ul>
  <li>
    (former) Management consultants
  </li>
  <li>
    (former) Banking professionals
  </li>
  <li>
    (former) Venture capitalists
  </li>
  <li>
    Industry experts
  </li>
</ul>
