<div class="container">
  <%= render partial: 'back' %>
  <h2>Confidentiality &amp; Conduct</h2>
  <p>We take confidentiality very seriously. As part of the sign up process, each, advice seeker and expert, have to review and sign our marketplace's <%= link_to terms_path do %>Terms of Service<% end %>.</p>
  <p>There, we clearly stipulate that each user must not “disclose confidential information to another party during any consultation or other communication with another user”.</p>
  <p>And since, CONSULTED does not issue or manage separate NDAs for each call, we ask our users to apply judgement as to the details they can go into when discussing their particular situation. Generally, in order to receive tailored advice without disclosing confidential particularities, we recommend to discuss a situation in hypotheticals and / or by analogs. It’s a good habit to lift the discussion to an abstract level and never to use actual names of companies or person involved.</p>
  <%= render partial: 'layouts/signup' %>
</div>
