<div class="container">
  <%= render partial: 'back' %>

  <h1>Offer expert advice, help solve high impact problems and get paid</h1>
  <p>Apply your deep content knowledge you have gathered as professional service expert of industry expert to issues which really matter.</p>
  <p>Advice seekers globally are looking for specific insights to their problems and questions. Directly from people like you:</p>
  <ul>
    <li>(former) Management Consultants</li>
    <li>(former) Banking Professionals</li>
    <li>(former) Venture Capitalists</li>
    <li>Experts in their industry / function</li>
  </ul>

  <p>Experts on CONSULTED have a very strong track record in their field of work and are able to truly advance advice seekers’ thinking, in areas like:</p>
  <ul>
    <li>Methodological Advice</li>
    <li>Functional Advice</li>
    <li>Industry Advice</li>
    <li>Career Advancement</li>
  </ul>

  <p>Explore CONSULTED’s 500+ service offerings and find out in which areas you can add value.</p>

</div>
<div id="getpaid-grey">
  <div class="container">

    <h2 class="heading">It’s easy, fits your busy schedule and is made for business professionals</h2>
    <ol>
      <li>Sign up for free – we will only charge a 15% platform fee when advice you offer</li>
      <li>Identify your areas of expertise in our Service Offerings and briefly describe your experience in each</li>
      <li>Indicate when you are available for telephone conversation with our easy to use scheduling tool and you are listed (and bookable) on CONSULTED</li>
      <li>Once an advice seeker requests a call, you receive an email notification and have 24 hours to confirm</li>
      <li>If confirmed, you receive a confirmation note with the call-in instructions (calls are conducted via our call bridge – your contact details are not revealed to advice seekers)</li>
      <li>After the call, the advice seeker has the opportunity to give you an “awesome” as token of their appreciation – however, there are no negative public reviews</li>
    </ol>

  </div>
</div>
<div class="container">

  <dl id="faq">
    <div class="faq-row clr">
      <dt>Why does CONSULTED use Service Offerings to categorize expert knowledge?</dt>
      <dd>CONSULTED wants to make expert knowledge as easily accessible as possible and Service Offerings are a straight forward way for advice seekers to discover the right experts specific for their needs</dd>
    </div>
    <div class="faq-row clr">
      <dt>In which areas do experts provide advice?</dt>
      <dd>Experts cover a variety of topics ("service offerings") in areas such as methodological advice, functional advice, industry advice and career advancement. Explore all service offerings here</dd>
    </div>
    <div class="faq-row clr">
      <dt>Can I offer my time in multiple Service Offerings?</dt>
      <dd>Yes, advice seekers can offer their time in as many Service Offerings as they see fit and they have the capacity to provide meaningful insights</dd>
    </div>
    <div class="faq-row clr">
      <dt>When is the payment processed?</dt>
      <dd>Payment is processed 24 hours after a successful call</dd>
    </div>
    <div class="faq-row clr">
      <dt>Do I need to pay when offering my time?</dt>
      <dd>No, expert can list their time for free.</dd>
    </div>
    <div class="faq-row clr">
      <dt>How is my Service Offering rank determined?</dt>
      <dd>Search rank is determined on a multiple of factors, such as experts’ availability, expert expected conversion rates, Service Offerings awesome counts, seekers search history, etc. – all optimizing for highest relevance</dd>
    </div>
    <div class="faq-row clr">
      <dt>How much does CONSULTED charge?</dt>
      <dd>CONSULTED charges a 15% platform fee – this fee covers also payment cost</dd>
    </div>
    <div class="faq-row clr">
      <dt>Who is likely to request a meeting?</dt>
      <dd>Our advice seekers have diverse backgrounds which vary by Service Offering – generally, you can expect to talk to business school students, startup founders, professionals from small &amp; large companies and professional service industry workers</dd>
    </div>
    <div class="faq-row clr">
      <dt>How does CONSULTED handle confidentiality?</dt>
      <dd>Confidentiality is very important to us. We required all our members to adhere to our marketplace’s Terms of Service.</dd>
    </div>
  </dl>

  <p class="text-center clr">
    <%= link_to 'See all Frequently Asked Questions (FAQs)', 'https://consultedco.zendesk.com/hc/en-us', target: '_blank' %>
  </p>

  <%= render partial: 'layouts/signup' %>

</div>
