<h1>Make the most of it</h1>
<h3>Finding the right expert</h3>
<p>Key to finding the right expert is to understand your business problem in detail. The better you can pin point which underlying questions you would like to get an expert's advice for, the more straight forward it is to identify an appropriate expert.</p>
<p>Start by browsing through our service hierarchy and identify the service offering that best matches your business problem. After you selected a particular service offering, you can browse all experts which associated themselves with the service offering. A set of filters, like years of experience, rate, availability, etc., will help you to narrow down the pool of potential experts.</p>
<p>Once you filtered for the most relevant ones, you can review experts’ profile pages to learn more about their professional background and read about how they can help to answer your question in a particular service offering.</p>
<h3>Prepare the meeting</h3>
<p>A solid preparation is the basis for a successful call. It is a good habit to follow the following 4 points before each call:</p>
<ol>
  <li>Clearly articulate the 5 most important questions you would like to get the experts view on.</li>
  <li>Prioritize those 5 questions, so that you can be sure that you cover the most pressing issues.</li>
  <li>If the business problem demands to get advice specific to your situation, then think about how you can effectively layout the important facts. This will help the expert to understand your requirements and background in a shorter time frame.</li>
  <li>Break down the meeting time you have scheduled into a few section (such as brief personal introduction, problem description, Q&amp;A, etc.) to set expectations with hte expert in the beginning of the meeting.</li>
</ol>
<h3>Received tailored advice</h3>
<p>In order to receive tailored advice without disclosing confidential particularities, we recommend to discuss a situation in hypotheticals and / or by analogs. It’s a good habit to lift the discussion to an abstract level and never to use actual names of companies or person involved.</p>
