<div class="container">
  <%= render partial: 'back' %>
  <h2>CONSULTED TERMS OF SERVICE</h2>
  <p>
    <strong><u>1. Introduction</u>
    </strong>
  </p>
  <p>
    Thank you for visiting Consulted. Please read these Terms of Service and our Privacy Policy carefully as you must agree to both documents in order to be permitted to use our Service.
  </p>
  <p>
    <strong><u>2. Definitions</u>
    </strong>
  </p>
  <p>
    Throughout this Agreement, we may use certain words or phrases, and it is important that you understand the meaning of them. The list is not all-encompassing and no definition should be considered binding to the point that it renders this Agreement nonsensical:
  </p>
  <ul>
    <li>
      “Agreement” means these Terms of Service;
    </li>
    <li>
      “Consulted” refers to our company, known as “Consulted, Inc.” (and all affiliated persons for the purpose of any indemnity or liability-related provisions in this Agreement); our Site; our Service; or a combination of all or some of the preceding definitions, depending on the context in which the word is used;
    </li>
    <li>
      “Service” refers to the services that we provide through our Site, including our marketplace for seeking advice and our Site itself;
    </li>
    <li>
      “Site” refers to our website, <%= link_to 'www.consulted.co', root_url %>;
    </li>
    <li>
      “User” refers to experts, advice seekers, and anyone else who uses any portion of our Service, including general visitors to our Site;
    </li>
    <li>
      “You” refers to you, the person who is entering into this Agreement with Consulted.
    </li>
  </ul>
  <p>
    <strong><u>3. What Consulted Does</u>
    </strong>
  </p>
  <p>
    Consulted is a marketplace for professional services where advice seekers can book consultation time (through telephone calls) with experts. Experts may provide advice in areas such as management consulting, finance and industry expertise.
  </p>
  <p>
    <strong><u>4. Eligibility</u>
    </strong>
  </p>
  <p>
    In order to use our Service, you must meet a number of conditions, including but not limited to:
  </p>
  <ul>
    <li>You must not be in violation of any embargoes, export controls, or other laws of the United States or other countries having jurisdiction over this Agreement, Consulted, and yourself. For example, if the Office of Foreign Assets Control prohibits conducting financial transactions with nationals, residents, or banks of your country, you must not use our Service.
    </li>
    <li>You must be the minimum age required to enter into a contract in the area in which you reside, and, in any event, must not be less than 18 years of age.
    </li>
    <li>You must provide us with personal information, payment information, and other information that we deem necessary to include you in our marketplace and provide you with our Service.
    </li>
    <li>You must meet any additional standards listed on our Site as required to be an expert (e.g. connecting your Consulted account with LinkedIn and having 100 LinkedIn connections).
    </li>
    <li>You must properly report all income and contracts as required to the Internal Revenue Service and any other governmental entity that may require it. You acknowledge that Consulted is not required to conduct your recordkeeping for you or to report any income information to the tax authorities.
    </li>
  </ul>
  <p>
    <strong><u>5. Nature of Service</u>
    </strong>
  </p>
  <p>
    Consulted acts as an intermediary by facilitating connections between advice seekers and experts as well as the call and payment. You agree that we are not responsible for the veracity or usefulness of information contained in expert listings or exchanged during a conversation between advice seekers and experts.
  </p>
  <p>
    <strong><u>6. Rules of Use</u>
    </strong>
  </p>
  <p>
    You must not:
  </p>
  <ul>
    <li>Violate the laws of the United States, its states, or any foreign political entity having jurisdiction over this Agreement, whether or not the foreign political entity is a country or a subdivision (such as a state or province) or municipality (such as a city, town, county, or region) of a foreign country.
    </li>
    <li>Post or send anything violent, threatening, pornographic, racist, hateful, or otherwise objectionable according to the opinion of Consulted or its delegates.
    </li>
    <li>Infringe on anyone’s intellectual property rights, defame anyone, impersonate anyone, or otherwise violate the rights of a third party.
    </li>
    <li>Hack, crack, phish, SQL inject, or otherwise compromise the security or integrity of the Consulted Site, Service, or its Users’ computers.
    </li>
    <li>Disclose confidential information to another party during any consultation or other communication with another User.
    </li>
    <li>Do anything else which could bring Consulted into disrepute or violate the rights of any person.
    </li>
  </ul>
  <p>
    <strong><u>7. Payment and Refunds</u>
    </strong>
  </p>
  <p>
    Experts can offer their time by selecting a predefined “service offering” in which they would like to offer their time and set their availability and rate. Experts set an appointment fee on an hourly basis and select different durations for which they are available to book a consultation (e.g. 30, 60 and 90 minutes, etc.).
  </p>
  <p>
    Payment for experts’ services may be made after a consultation via PayPal or credit card (we may choose not to provide a credit card payment option at our discretion). Fifteen percent of the gross amount of the payment shall be deducted and retained by Consulted for its services, and the remainder shall be remitted—minus any third party charges or commissions—to the relevant expert.
  </p>
  <p>
    Additionally there is a cancellation fee (% of appointment fee), if either party cancelled a previously confirmed call within a certain time limit; if it is cancelled before a certain time limit or if the requested call was not confirmed by the expert, then the cancellation is free of charge; if a booked and confirmed call is scheduled to start, the appointment fee is due in full. Specific details about these time limits as well as other details about payments, refunds, and rates may be published on our Site and are hereby incorporated into this Agreement by reference. Without limiting the generality of the foregoing, please note that we have a satisfaction guarantee where we try to remedy a problem in a satisfactory manner or return your money.
  </p>
  <p>
    <strong><u>8. Nature of Financial Accounts</u>
    </strong>
  </p>
  <p>
    The money held and/or transmitted by or on behalf of Consulted between parties is not a deposit insured by the Federal Deposit Insurance Corporation or any other entity, nor is Consulted a bank or other financial institution.
  </p>
  <p>
    Consulted, PayPal or any other involved party may place a hold on your funds or prevent you from making or receiving payments as a matter of routine, or in circumstances where it believes that there is a high risk involved of fraud, money laundering, or other unlawful activity.
  </p>
  <p>
    <strong><u>9. Chargebacks and PayPal Disputes</u>
    </strong>
  </p>
  <p>
    Where a User conducts a chargeback or PayPal dispute against Consulted, such User shall be liable to Consulted for the full amount of such chargeback or PayPal dispute as well as any reasonable attorneys’ fees, court costs, disbursements, and other expenses incurred in Consulted’s enforcement of its rights under this section.
  </p>
  <p>
    <strong><u>10. Our Copyright</u>
    </strong>
  </p>
  <p>
    Consulted values the uniqueness of the content posted on its Site as it distinguishes us from our competitors. You agree not to copy, distribute, display, disseminate, or otherwise reproduce any of the information on the Site, including content submitted by third parties to Consulted such as expert profiles, without receiving our prior written permission.
  </p>
  <p>
    <strong><u>11. Your Copyright</u>
    </strong>
  </p>
  <p>
    Consulted must be assured that it has the right to use the content that is posted to its Site by its Users. Such content may include, but is not limited to, photographs, videos, text, audio, and other materials (including reviews of experts and profiles submitted by experts). Whenever submitting content to our Site, you agree that you are granting us a non-exclusive, universal, perpetual, irrevocable, sublicensable, commercial and non-commercial right to use, distribute, sell, publish, and otherwise make use of the content that you submit to us. You warrant to us that you have the right to grant us this right over the content, and that you will indemnify us for any loss resulting from a breach of this warranty and defend us against claims regarding the same.
  </p>
  <p>
    <strong><u>12. Trademarks</u>
    </strong>
  </p>
  <p>
    “Consulted” and “Consulted.co” are trademarks used by us, Consulted, Inc., to uniquely identify our Site, Service, and business. You agree not to use this phrase anywhere without our prior written consent. Additionally, you agree not to use our trade dress, or copy the look and feel of our Site or its design, without our prior written consent. You agree that this paragraph goes beyond the governing law on intellectual property law, and includes prohibitions on any competition that violates the provisions of this paragraph, including starting your own competing business.
  </p>
  <p>
    <strong><u>13. Revocation of Consent</u>
    </strong>
  </p>
  <p>
    We may revoke our consent for your use of our intellectual property, or any other permission granted to you under this Agreement, at any time. You agree that if we so request, you must take immediate action to remove any usage of our intellectual property that you may have engaged in, even if it would cause a loss to you.
  </p>
  <p>
    <strong><u>14. Copyright &amp; Trademark Infringement</u>
    </strong>
  </p>
  <p>
    We take copyright infringement very seriously, and we have registered a Copyright Agent with the United States Copyright Office, which limits our liability under the
    <em>Digital Millennium Copyright Act</em>. If you believe that your copyright has been infringed, please send us a message which contains:
  </p>
  <ul>
    <li>
      Your name.
    </li>
    <li>The name of the party whose copyright has been infringed, if different from your name.
    </li>
    <li>The name and description of the work that is being infringed.
    </li>
    <li>The location on our website of the infringing copy.
    </li>
    <li>A statement that you have a good faith belief that use of the copyrighted work described above is not authorized by the copyright owner (or by a third party who is legally entitled to do so on behalf of the copyright owner) and is not otherwise permitted by law.
    </li>
    <li>A statement that you swear, under penalty of perjury, that the information contained in this notification is accurate and that you are the copyright owner or have an exclusive right in law to bring infringement proceedings with respect to its use.
    </li>
  </ul>
  <p>
    You must sign this notification electronically and send it to our Copyright Agent at <a href="mailto:support@consulted.co">support@consulted.co</a>.
  </p>
  <p>
    Although U.S. law does not provide for a similar procedure for trademark infringement, we recommend that you send us similar information to that above in regards to any allegation of trademark infringement, and we will address it as soon as practicable.
  </p>
  <p>
    <strong><u>15. Communications Decency Act</u>
    </strong>
  </p>
  <p>
    Similar to the DMCA provisions above, United States law—specifically Section 230 of the
    <em>Communications Decency Act</em>—creates a defense for us for the actions of third parties in regards to any defamatory content posted on our Site. Although we are not liable for defamatory words posted on our website by our Users even if given notice, we do prohibit defamation under this Agreement and we may, if we believe the situation warrants it, take action against the offending User. Please notify us at <a href="mailto:support@consulted.co">support@consulted.co</a> if any of our Users have posted anything that you believe is defamatory.
  </p>
  <p>
    <strong><u>16. Representations &amp; Warranties</u>
    </strong>
  </p>
  <p>
    WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR SERVICE OR FITNESS FOR ANY PARTICULAR PURPOSE. YOU AGREE THAT YOU ARE RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE HAVE TO YOU IN RELATION TO OR ARISING FROM THIS AGREEMENT OR OUR SERVICES, FOR REASONS INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR SERVICE, NEGLIGENCE, OR ANY OTHER TORT. TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF LIABILITY, YOU AGREE THAT WE ARE ONLY LIABLE TO YOU FOR THE MINIMUM AMOUNT OF DAMAGES THAT THE LAW RESTRICTS OUR LIABILITY TO, IF SUCH A MINIMUM EXISTS.
  </p>
  <p>
    YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR DAMAGES CAUSED BY THIRD PARTIES WHO MAY USE OUR SERVICES, INCLUDING BUT NOT LIMITED TO PEOPLE WHO COMMIT INTELLECTUAL PROPERTY INFRINGEMENT, DEFAMATION, TORTIOUS INTERFERENCE WITH ECONOMIC RELATIONS, OR ANY OTHER ACTIONABLE CONDUCT TOWARDS YOU.
  </p>
  <p>
    YOU AGREE THAT WE ARE NOT RESPONSIBLE FOR ANY ACTS OR OMISSIONS BY AN ADVICE SEEKER, EXPERT OR OTHER THIRD PARTY WHICH CAUSE YOU A LOSS.
  </p>
  <p>
    YOU AGREE THAT WE ARE NOT RESPONSIBLE FOR ANY FAILURE ON THE PART OF A PAYMENT PROCESSOR, INCLUDING PAYPAL OR THE CREDIT CARD COMPANY OR BANK THAT YOU USE TO FUND PAYPAL, TO DIRECT PAYMENTS TO THE CORRECT DESTINATION, OR ANY ACTIONS ON THEIR PART IN PLACING A HOLD ON YOUR FUNDS.
  </p>
  <p>
    YOU ACKNOWLEDGE THAT ADVICE MAY BE OBTAINED ANYWHERE IN THE WORLD WHERE NOT OTHERWISE PROHIBITED BY THIS AGREEMENT OR ANY APPLICABLE LAW, AND THAT YOU ARE RESPONSIBLE FOR DETERMINING WHETHER THE ADVICE OBTAINED IS RELEVANT AND/OR ACCURATE FOR YOUR JURISDICTION.
  </p>
  <p>
    YOU AGREE THAT WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY FAILURES OR DISRUPTIONS, UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR PERMANENTLY.
  </p>
  <p>
    THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT. NOTHING IN THE PROVISIONS OF THIS “REPRESENTATIONS &amp; WARRANTIES” SECTION SHALL BE CONSTRUED TO LIMIT THE GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.
  </p>
  <p style="margin-left: 20px">
    <strong>
      <em>For Jurisdictions that do not allow us to limit our liability:</em>
    </strong>
    Notwithstanding any provision of these Terms, if your jurisdiction has provisions specific to waiver or liability that conflict with the above then our liability is limited to the smallest extent possible by law. Specifically, in those jurisdictions not allowed, we do not disclaim liability for: (a) death or personal injury caused by its negligence or that of any of its officers, employees or agents; or (b) fraudulent misrepresentation; or (c) any liability which it is not lawful to exclude either now or in the future.
  </p>
  <p>
    IF YOU ARE A RESIDENT OF A JURISDICTION THAT REQUIRES A SPECIFIC STATEMENT REGARDING RELEASE THEN THE FOLLOWING APPLIES. FOR EXAMPLE, CALIFORNIA RESIDENTS MUST, AS A CONDITION OF THIS AGREEMENT, WAIVE THE APPLICABILITY OF CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR." YOU HEREBY WAIVE THIS SECTION OF THE CALIFORNIA CIVIL CODE. YOU HEREBY WAIVE ANY SIMILAR PROVISION IN LAW, REGULATION, OR CODE THAT HAS THE SAME INTENT OR EFFECT AS THE AFOREMENTIONED RELEASE.
  </p>
  <p>
    <strong><u>17. Indemnity</u>
    </strong>
  </p>
  <p>
    You agree to indemnify and hold us harmless for any claims by you or any third party which may arise from or relate to this Agreement or the provision of our service to you, including any damages caused by your use of our Site or acceptance of the offers contained on it. You also agree that you have a duty to defend us against such claims and we may require you to pay for an attorney(s) of our choice in such cases. You agree that this indemnity extends to requiring you to pay for our reasonable attorneys’ fees, court costs, and disbursements. In the event of a claim such as one described in this paragraph, we may elect to settle with the party/parties making the claim, and you shall be liable for the damages as though we had proceeded with a trial.
  </p>
  <p>
    <strong><u>18. Choice of Law</u>
    </strong>
  </p>
  <p>
    This Agreement shall be governed by the laws in force in the State of California. The offer and acceptance of this contract are deemed to have occurred in the State of California.
  </p>
  <p>
    <strong><u>19. Forum of Dispute</u>
    </strong>
  </p>
  <p>
    You agree that any dispute arising from or relating to this Agreement, or any Contract between Users, will be heard solely by a court of competent jurisdiction in the State of California. Specifically, where the subject matter of a dispute is eligible for it, you agree that any disputes shall be heard solely within the Small Claims Court of the State of California (“Small Claims Court”).
  </p>
  <p>
    If a dispute claims multiple claims and one or more of those claims would be eligible to be heard by the Small Claims Court, you agree not to bring the other claims against us and to instead proceed within the Small Claims Court.
  </p>
  <p>
    If you would be entitled in a dispute to an amount exceeding the monetary jurisdiction of the Small Claims Court, you agree to waive your right to collect any damages in excess of the monetary jurisdiction and instead still bring your claim within the Small Claims Court.
  </p>
  <p>
    You agree that if a dispute is eligible to be heard in Small Claims Court but you would be entitled to an additional or alternative remedy in a higher court, such as injunctive relief, you will waive your right to that remedy and still bring the dispute within the Small Claims Court.
  </p>
  <p>
    If you bring a dispute in a manner other than in accordance with this section, you agree that we may move to have it dismissed, and that you will be responsible for our reasonable attorneys’ fees, court costs, and disbursements in doing so.
  </p>
  <p>
    You agree that the unsuccessful party in any dispute arising from or relating to this Agreement will be responsible for the reimbursement of the successful party’s reasonable attorneys’ fees, court costs, and disbursements.
  </p>
  <p>
    <strong><u>20. Force Majeure</u>
    </strong>
  </p>
  <p>
    You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it is the result of events beyond our control, including, but not limited to, acts of God, war, insurrection, riots, terrorism, crime, labor shortages (including lawful and unlawful strikes), embargoes, postal disruption, communication disruption, unavailability of payment processors, failure or shortage of infrastructure, shortage of materials, or any other event beyond our control.
  </p>
  <p>
    <strong><u>21. Severability</u>
    </strong>
  </p>
  <p>
    In the event that a provision of this Agreement is found to be unlawful, conflicting with another provision of the Agreement, or otherwise unenforceable, the Agreement will remain in force as though it had been entered into without that unenforceable provision being included in it.
  </p>
  <p>
    If two or more provisions of this Agreement are deemed to conflict with each other’s operation, Consulted shall have the sole right to elect which provision remains in force.
  </p>
  <p>
    <strong><u>22. Non-Waiver</u>
    </strong>
  </p>
  <p>
    Consulted reserves all rights afforded to us under this Agreement as well as under the provisions of any applicable law. Our non-enforcement of any particular provision or provisions of this Agreement or any applicable law should not be construed as our waiver of the right to enforce that same provision under the same or different circumstances at any time in the future.
  </p>
  <p>
    <strong><u>23. Termination &amp; Cancellation</u>
    </strong>
  </p>
  <p>
    We may terminate your access to our Site and Service at our discretion without explanation, though we will strive to provide a timely explanation in most cases. Our liability for refunding you, if you have paid anything to us, will be limited to the amount you paid for goods or services which have not yet been and will not be delivered, except in cases where the termination or cancellation was due to your breach of this Agreement, in which case you agree that we are not required to provide any refund or other compensation whatsoever.
  </p>
  <p>
    Under no circumstances, including termination or cancellation of our Service to you, will we be liable for any losses related to actions of other Users.
  </p>
  <p>
    <strong><u>24. Assignment of Rights</u>
    </strong>
  </p>
  <p>
    You may not assign your rights and/or obligations under this Agreement to any other party without our prior written consent. We may assign our rights and/or obligations under this Agreement to any other party at our discretion.
  </p>
  <p>
    <strong><u>25. Amendments</u>
    </strong>
  </p>
  <p>
    We may amend this Agreement from time to time. When we amend this Agreement, we will update this page accordingly and e-mail you to inform you that there has been an amendment.
  </p>
  <p>
    <strong><u>26. California Users and Residents</u>
    </strong>
  </p>
  <p>
    Pursuant to
    <em>California Civil Code</em>Section 1789.3, any questions about pricing, complaints, or inquiries about Consulted must be addressed to our agent for notice and sent via certified mail to that agent. For our agent’s most current contact information, please send a request to <a href="mailto:support@consulted.co">support@consulted.co</a>.
  </p>
  <p>
    Lastly, California users are also entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210.
  </p>
  <p>
    Last Modified: April 1, 2014
  </p>

</div>
