<div class="row">
  <div class="container">
    <h3>Your location</h3>
    <p class="lead">Please provider your location below, as we let advice seekers filter by location</p>
    <div class="col-lg-4">
      <%= form_for @user, url: profile_settings_path, remote: true do |f| -%>
        <%= f.country_select :country, nil, {}, class: 'form-control' %>
      <% end %>
    </div>
  </div>
</div>
