<div id="offerbar">
  <nav class="container">
    <ul class="nav nav-tabs">
      <li><a href="#offerfull-basics">Basics</a>
      </li>
      <li><a href="#offerfull-profile">Profile</a>
      </li>
      <li><a href="#offerfull-select">Select Service Offerings</a>
      </li>
      <li><a href="#offerfull-setup">Setup offers</a>
      </li>
      <li><a href="#offerfull-availability">Availability</a>
      </li>
      <li><a href="#offerfull-meeting">Meeting</a>
      </li>
      <li><a href="#offerfull-reminders">Reminders</a>
      </li>
    </ul>
    <div id="offertoggle">
      <span class="offertoggle-menu">Menu</span>
      <span class="fa fa-bars"></span>
    </div>
  </nav>
</div>
