<div class="row">
  <div id="consulted_offers" class="container">
    <h3>Setup your offers <small>Setup your rate and meeting settings</small></h3>
    <p class="lead">After a successful meeting, we'll pay out <strong>85%</strong> of the rate you provide below.</p>
    <script type="text/ng-template" id='setup'>
      <%= render partial: 'users/offers/ng/setup' %>
    </script>
    <script type="text/ng-template" id='modalWindow'>
      <%= render partial: 'users/offers/ng/window' %>
    </script>
  </div>
</div>