<div id="offerfull-reminders" class="offerfull">
  <div class="offerfull-head border">
    <p class="offerfull-heading">Reminders</p>
    <p class="bigger">We want to keep things fair &amp; productive for everyone. This is how it works.</p>
  </div>
  <div class="clr">
    <div class="clr reminder">
      <p class="title">What happens if someone wants to schedule a call?</p>
      <p>Once an advice seeker selected a date and time you are available at and goes ahead and books this time slot, you receive a Booking Request email asking you to confirm the meeting. Once you confirmed the request, the meeting is scheduled. At the meeting date &amp; time, you call in to our call bridge, enter the access code included in the booking confirmation and speak to the advice seeker.</p>
    </div>
    <div class="clr reminder">
      <p class="title">What happens if I decline a booking request?</p>
      <p>Nothing. However, if it happens to often you may not appear lower in search results or we may not allow you to put your availability up into the system. Please keep your availability always up to date.</p>
    </div>
    <div class="clr reminder">
      <p class="title">What happens if I don't respond to a booking request?</p>
      <p>Nothing, as well. If you decline a request forget to reply, we will auto-cancel a request after <%= Settings.meeting_timeout %> hours. If it happens to often you may not appear lower in search results or we may not allow you to put your availability up into the system.</p>
    </div>
    <div class="clr reminder">
      <p class="title">Can I cancel previously confirmed requests?</p>
      <p>Yes, however there is a fee associated with it. See our <%= link_to 'cancellation policy', 'https://consultedco.zendesk.com/hc/en-us/articles/201322580', target: '_blank'  %>.</p>
    </div>
  </div>
</div>
