<div class="row">
  <div class="container">
    <h3>Provide your available time and dates</h3>

    <div id="consulted_scheduler">
      <script type="text/ng-template">
      <%= render partial: 'users/offers/ng/scheduler' %>
      </script>
    </div>
  </div>
</div>
