<div class="row">
  <div class="container">
    <h3>Provide your available time and dates</h3>
    <div id="consulted_scheduler">
      <script type="text/ng-template" id="scheduler">
        <%= render partial: 'users/offers/ng/scheduler' %>
      </script>
      <script type="text/ng-template" id="modalWindow">
        <%= render partial: 'users/offers/ng/timezoneWindow' %>
      </script>
    </div>
  </div>
</div>
