<div class="signup login">
  <div class="well col-md-6 col-md-offset-3">
    <div class="content">
      <div class="header">
        <h4 class="title" id="logo_bk">
          <%= image_tag 'logo-black.png', alt: 'CONSULTED.co' %>
        </h4>
        <p class="popup-slogan text-center">Welcome!</p>
        <hr>
      </div>
      <div class="body">
        <div class="popup-row">
          <%= link_to user_omniauth_authorize_path(provider:'linkedin'), class: 'btn btn-primary flaticon flaticon-linkedin' do %>
            Connect with LinkedIn
          <% end %>
        </div>
        <div class="popup-row">
          <%= link_to '#', class: 'btn btn-primary flaticon flaticon-facebook' do %>
            Connect with Facebook
          <% end %>
        </div>
        <div class="popup-row control-cover">
          <input type="email" class="form-control" placeholder="Login with your email">
          <button type="button" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>