<div ng-hide="no_offer">
  <ul>
    <li>You can schedule a call for <strong>{{lengths}} <span ng-show="last">or {{last}}</span> minutes.</strong></li>
    <li>You can talk to this expert in <strong><%= expert_languages %></strong></li>
  </ul>

</div>
