
<table class="table calendar table-bordered">
  <thead>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div data-calendar-back="data-calendar-back"></div>
        <div data-calendar-front="data-calendar-front"></div>
      </td>
      <td>
        <div data-calendar-back="data-calendar-back"></div>
        <div data-calendar-front="data-calendar-front"></div>
      </td>
      <td>
        <div data-calendar-back="data-calendar-back"></div>
        <div data-calendar-front="data-calendar-front"></div>
      </td>
      <td>
        <div data-calendar-back="data-calendar-back"></div>
        <div data-calendar-front="data-calendar-front"></div>
      </td>
      <td>
        <div data-calendar-back="data-calendar-back"></div>
        <div data-calendar-front="data-calendar-front"></div>
      </td>
      <td>
        <div data-calendar-back="data-calendar-back"></div>
        <div data-calendar-front="data-calendar-front"></div>
      </td>
      <td>
        <div data-calendar-back="data-calendar-back"></div>
        <div data-calendar-front="data-calendar-front"></div>
      </td>
    </tr>
  </tbody>
</table>