
<div class="calendar-front">
  <div data-element-adding="data-element-adding"></div>
  <div data-element="data-element" data-ng-repeat="element in elements" data-data="element" data-index="$index"></div>
</div>