<div class="modal-header">
  <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body time-picker">
  <div class="row">
    <div class="col-sm-6">
      <timepicker data-ng-model="start" data-show-meridian="false" data-minute-step="minuteStep"></timepicker>
    </div>
    <div class="col-sm-6">
      <timepicker data-ng-model="end" data-show-meridian="false" data-minute-step="minuteStep"></timepicker>
    </div>
  </div>
</div>
<div class="modal-footer" id="callrequest">
  <p class="text-center">
    <button type="button" data-ng-click="accept($event, start, end)" class="btn btn-success">Create</button>
    <button type="button" data-ng-click="dismiss($event)" class="btn btn-danger">Dismiss</button>
  </p>
</div>
