
<div class="element added">
  <div class="resizer resizer-top"></div>
  <div class="info">{{ data.from | minutesToTime }} to {{ data.to | minutesToTime}}<span data-ng-click="remove($event)" class="delete"><i class="fa fa-times"></i></span></div>
  <div class="resizer resizer-bottom"></div>
</div>