
<div class="event">
  <div data-ng-click="edit($event)" class="time"><small>{{ start | minutesToTime }} - {{ end | minutesToTime}}</small></div>
  <div class="actions"><a href="#" data-ng-click="delete($event)" class="btn btn-xs btn-danger delete"><i class="fa fa-trash-o"></i></a></div>
</div>