.admins-sign-in {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #334353;
  text-align: center;

  label, h4 {
    color: #f8f8f8;
  }

  .box {
    @extend .container;

    .sign-in-box {
      @extend .intro-message;
    }
  }
}
