.tag-adding-form {
  display:inline;
}
input.tag-add {
  width: 100px;
  height: 27px;
}
#onlybook.in:after {
  left: 20px;
  background: #91c632;
}
::-ms-tooltip {
  display: none;
}
div[slider] {
  display: block;
  position: relative;
  height: 30px;
  width: 500px;
}
div[slider] span.bar {
  height: 50%;
  z-index: 0;
  background: #eee;
  left: 0;
  top: 25%;
  cursor: pointer;
}
div[slider] span.bar.selection, div[slider] span.bar.unselected {
}
div[slider] span.bar.selection {
  background: #0a0;
  opacity: 0.5;
}
div[slider] span.bar.unselected {
  width: auto;
  background: #a00;
  opacity: 0.5;
}
div[slider] span.pointer {
  cursor: pointer;
  width: 15px;
  top: 0;
  bottom: 0;
  background-color: #00a;
}
div[slider] span.pointer:hover {
}
div[slider] span.pointer.active {
}
div[slider] span.bubble {
  font-size: 0.7em;
  line-height: 1.4em;
  font-family: sans-serif;
  text-align: center;
  text-shadow: none;
  top: -1.3em;
  cursor: pointer;
}
div[slider] span.bubble.selection, div[slider] span.bubble.limit {
  top: 25%;
}
div[slider] span.bubble.selection {
}
div[slider] span.bubble.limit {
}
div[slider] span.bubble.low, div[slider] span.bubble.high {
}
::-ms-tooltip {
  display: none;
}
#slider-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
