@import 'helpers';

[ng-click] {
  cursor: pointer;
}
.service-head {
  font-weight: 700;
  color: #555;
}
.noty_message {
  color: green;
}
#groups {
  .advice-group {
    min-height: 400px;

    .advice-head {
      &:hover {
        background-color: #406d93;
      }
    }

    &.selected {
      .advice-head {
        background: #406d93;
        &:after {
          border-top-color: #406d93 !important;
        }
      }
      &:after {
        border-top-color: #406d93 !important;
      }
    }
    button {
      position: absolute;
      bottom: 26px;
      margin-left: 42px;
    }
  }
  .clr {
    .advice-group {
      min-height: inherit;
      margin-bottom: 10px;
      &.selected:after {
        border: 8px solid transparent;
        border-top: 8px solid #474b5e;
        content:'';
        display: block;
        left: 50%;
        margin-left: -8px;
        position: absolute;
        top: 85%;
      }
    }
  }
}
#offer_setup {
  .root.sel {
    background: #406d93;
    &:after {
      border-top: 8px solid #406d93;
    }
  }
}
#learnmore {
  .modal-header {
    background: none;
    border: none;
    position: absolute;
    right: 5px;
    top: 0px;
    z-index: 1000;
  }
}
#landing-main {
  .postbtn a {
    color: #fff;
  }
}
#offerfull-basics {
  .notedown {
    cursor: pointer;
    &:hover {
      background: #5C9DE6;
      &:before {
        border-top: 4px solid #5C9DE6;
      }
    }
  }
  .disabled, .disabled span {
    color: #ccc !important;
  }
  .toggle-form {
    margin-top: -40px;
    float: right;
  }
}
#profile-main {
  .block {
    height: 200px;
  }
}
#main {
  .alert {
    &.notice {
      background: #3276b1;
    }
  }
}
#landing-testimonials:before {
  font-size:32px !important;
  line-height: 58px !important;
}
.sign-text a {
  color: #444;
}
.signup-now {
  text-align: center;
  &.follow {
    background: #fff;
  }
  .signup-btn {
    @include border-radius(4px);
    background:#6b7a99;
    border:none;
    color:#fff;
    font-size:22px;
    margin:42px 0 0;
    padding:8px 40px;
    text-transform:none;
    font-weight: 700;
    @media (max-width:480px) {
      margin:16px 0 0;
    }
    &:hover {
      background:#596988;
    }
  }
  .postbtn a {
    color: #777;
    font-size: 13px;
  }
}

.eligibility-status a {
  color: white;
  font-size: 22px;
}

.bread li:last-child:after {
  content: '';
}

// TODO: remove this, once fb is integrated
.flaticon-facebook {
  background: #e4e4e4;
  cursor: default;
  &:hover {
    background: #e4e4e4;
  }
}

.no-margin {
  margin-top:0;
}

.no-border {
  border-top: none !important;
}

@import 'filters';
@import 'typeahead';
