[ng-click] {
  cursor: pointer;
}
.service-head {
  font-weight: 700;
  color: #555;
}
.noty_message {
  color: green;
}
#groups {
  .advice-group {
    min-height: 400px;
    &.disabled {
      button {
        background-color: #C8CCCF;
      }
      &.selected {
        .advice-head {
          background: #464a5e;
        }
      }
      .advice-head {
        background: #B3B5BD;
        &:after {
          border-color: #B3B5BD transparent transparent;
        }
      }
    }
    button {
      position: absolute;
      bottom: 26px;
      margin-left: 42px;
    }
  }
  .clr {
    .advice-group {
      min-height: inherit;
      margin-bottom: 10px;
      &.selected:after {
        border: 8px solid transparent;
        border-top: 8px solid #474b5e;
        content:'';
        display: block;
        left: 50%;
        margin-left: -8px;
        position: absolute;
        top: 85%;
      }
    }
  }
}

#landing-main {
  .postbtn a {
    color: #fff;
  }
}

#offerfull-basics {
  .notedown {
    cursor: pointer;
    &:hover {
      background: #5C9DE6;
      &:before {
        border-top: 4px solid #5C9DE6;
      }
    }
  }
  .disabled, .disabled span {
    color: #ccc !important;
  }
  .toggle-form {
    margin-top: -40px;
    float: right;
  }
}
#profile-main {
  .block {
    height: 200px;
  }
}
#main {
  .alert {
    &.notice {
      background: #3276b1;
   }
  }
}

#landing-testimonials:before {
  font-size:32px !important;
  line-height: 58px !important;
}

.sign-text a {
  color: #444;
  }

@import 'filters';
@import 'typeahead';
