/* Mixins, variables, etc. */

$headfont: 'Bitter', serif;
$bodyfont: 'Open Sans', sans-serif;

$gray20: #333;
$gray27: #444;
$gray33: #555;
$gray60: #999;
$gray67: #aaa;
$gray93: #eee;
$gray97: #f7f7f7;

.transition {
  -webkit-transition:all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition:all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition:all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition:all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.transition-vis {
  -webkit-transition:visibility 0.4s ease-in-out;
  -moz-transition:visibility 0.4s ease-in-out;
  -o-transition:visibility 0.4s ease-in-out;
  transition:visibility 0.4s ease-in-out;
}
@mixin border-radius($radius) {
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  -ms-border-radius:$radius;
  border-radius:$radius;
}
@mixin box-shadow($boxshadow) {
  -webkit-box-shadow:$boxshadow;
  -moz-box-shadow:$boxshadow;
  box-shadow:$boxshadow;
}
@mixin text-shadow($textshadow) {
  -webkit-text-shadow:$textshadow;
  -moz-text-shadow:$textshadow;
  text-shadow:$textshadow;
}
@mixin background-size($bgsize) {
  -webkit-background-size:$bgsize;
  -moz-background-size:$bgsize;
  -o-background-size:$bgsize;
  background-size:$bgsize;
}

/* Main Style Sheet */

html, body {
  height:100%;
}

body {
  font-family:$bodyfont;
  font-size:14px;
  line-height:140%;
  overflow-x:hidden;
  overflow-y:auto;
  h1 {
    font:700 50px/60px $headfont;
  }
  h2 {
    font:400 30px $headfont;
  }
}

.clr {
  clear:both;
  &:after {
    clear:both;
    content:'';
    display:block;
    height:0;
    overflow:hidden;
    width:100%;
  }
}
.hidden {
  visibility:hidden;
}
.gray {
  color:$gray67;
}
.text-grey {
  background-color:$gray97;
}
.link-centered {
  line-height:32px;
  text-align:center;
  span {
    display:block;
  }
}
.btn{
  @extend .transition;
}

/* Navigation */

#nav{
  @extend .transition;
  background:#000;
  background:rgba(0,0,0,.6);
  border:none;
  @include border-radius(0px);
  height:102px;
  left:0;
  opacity:0;
  padding:26px 0;
  position:fixed;
  right:0;
  top:-102px;
  width:100%;
  z-index:1030;
  .navbar-collapse {
    border:none;
  }
  .navbar-nav > li > a {
    color:$gray93;
    font-weight:600;
    font-size:13px;
    &:hover {
      color:#fff;
    }
    span {
      border-bottom:none;
      &:hover {
        border-bottom:1px solid #fff;
      }
    }
  }
  .navbar-nav > li > a {
    @extend .transition;
    &.btn{
      background:#222;
      background:rgba(255,255,255,.2);
      border:none;
      margin:8px 0 8px 15px;
      padding:7px 17px;
      text-transform:uppercase;
      &:hover{
        background:$gray20;
        background:rgba(255,255,255,.3);
      }
      &:active{
        background:$gray27;
        background:rgba(255,255,255,.4);
      }
    }
  }
  .navbar-nav>li:last-child>a.btn{
    margin-left:10px;
  }
  &.smallbar{
    background:$gray97;
    background:rgba(255,255,255,.8);
    @include box-shadow(0 0 3px 0 rgba(41,43,51,.25));
    height:50px;
    padding:0;
    .navbar-nav>li>a{
      color:$gray27;
      &:hover{
        color:#111;
      }
      &.btn{
        background:$gray93;
        @include box-shadow(inset 0 0 1px rgba(0,0,0,.4));
        &:hover{
          background:#ddd;
          background:rgba(0,0,0,.1);
          @include box-shadow(none);
        }
      }
    }
  }
}

/* Logo */

#logo{
  @extend .transition;
  display:block;
  float:left;
  height:50px;
  margin-left:-15px;
  position:relative;
  width:204px;
  #logo-black{
    left:0;
    position:absolute;
    top:0;
  }
  #logo-white,
  #logo-black{
    display:block;
    height:50px;
    margin:0;
    visibility:visible;
    width:204px;
    @extend .transition-vis;
  }
}

/* Slides Part */

.slide-photo{
  background-attachment:fixed;
  @include background-size(cover);
  background-position:center;
  background-repeat:no-repeat;
  @include box-shadow(inset 0 0 160px #000);
  color:#F4F4F4;
  height:450px;
  padding-top:60px;
  @include text-shadow(0 1px 10px rgba(0,0,0,.3));
  width:100%;
}
.slide-text{
  padding:80px 0;
  h2{
    margin:20px 0 26px;
    text-align:center;
  }
  a{
    color:$gray33;
    font-size:13px;
    font-weight:700;
    text-transform:uppercase;
    span{
      font-weight:400;
      font-size:11px;
    }
  }
}
.section-description{
  color:$gray33;
  font-size:16px;
  font-weight:300;
  line-height:24px;
  margin:0 auto 68px;
  max-width:600px;
}

/* Main Slide Part */

#landing-main{
  background-image:url('../images/photo01.jpg');
  display:table;
  height:100%;
  min-height:600px;
  position:relative;
  width:100%;
  .heading{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    h1{
      display:inline-block;
      max-width:50%;
    }
  }
  .btn{
    background:#ddd;
    background:rgba(255,255,255,.8);
    border:none;
    font-size:22px;
    margin-top:78px;
    padding:8px 40px;
    &:hover{
      background:#fff;
    }
  }
  .postbtn{
    font-size:16px;
    font-weight:700;
    text-transform:uppercase;
  }
  #landing-main-bottom{
    @extend .transition;
    background:#000;
    background:rgba(0,0,0,.4);
    bottom:-5%;
    left:0;
    line-height:26px;
    opacity:0;
    padding:12px 0 4px;
    position:absolute;
    width:100%;
  }
}

/* "Advices" Part */

.advice-graph{
  margin-left:6px;
}
.advices{
  margin:0 0 26px;
  p{
    margin:0;
    padding:20px 15% 26px 30%;
  }
  .advice{
    color:$gray20;
    font-weight:300;
    line-height:24px;
  }
}
.advice01{background:url('../images/icon_advice.svg') 21% 10px no-repeat;}
.advice02{background:url('../images/icon_money.svg') 21% 10px no-repeat;}
.advice03{background:url('../images/icon_see.svg') 21% 10px no-repeat;}
.no-svg .advice01{background:url('../images/icon_advice.png') 21% 10px no-repeat;}
.no-svg .advice02{background:url('../images/icon_money.png') 21% 10px no-repeat;}
.no-svg .advice03{background:url('../images/icon_see.png') 21% 10px no-repeat;}

/* "Professionals" Part */

.persons .col-md-4{
  padding:0;
  &:last-child .person-info{
    @include box-shadow(none);
  }
  &:last-child .service{
    border:none;
  }
  .person{
    border-bottom:1px solid $gray93;
    padding:0 0 5px 15px;
    position:relative;
    .person-img{
      float:left;
      left:15px;
      position:absolute;
      top:6px;
      width:60px;
      .person-name{
        color:$gray60;
        font-size:12px;
        font-weight:600;
        padding:2px 0;
        text-align:center;
      }
    }
    .person-info{
      @include box-shadow(1px 0 0 $gray93);
      color:$gray33;
      line-height:22px;
      margin:-1px 20px 0 80px;
      min-height:100px;
      overflow:hidden;
      strong{
        color:$gray33;
        display:block;
        font-weight:600;
      }
      em{
        color:$gray60;
        display:block;
      }
    }
  }
  .person-service{
    padding-left:15px;
    .service-head{
      color:$gray33;
      font-weight:700;
      margin:16px 0;
    }
  }
}
.service-list{
  display:block;
  font-weight:700;
  list-style:none;
  margin:0;
  padding:0;
  li{
    color:$gray33;
    display:block;
    font-size:13px;
    line-height:16px;
    margin:6px 0;
    padding:0 20% 0 15px;
    text-indent:-7px;
    text-transform:uppercase;
    span{
      font-size:11px;
    }
  }
}

/* Photo #2 */

#landing-photo-02{background-image:url('../images/photo02.jpg');background-position:60% 85%;height:300px;width:100%}

/* Offerings Part */

#landing-offerings{
  padding:42px 0 0;
  .offering{
    background:url('../images/offer-icon.svg') 0 8px no-repeat;
    height:196px;
    padding:0 150px 0 150px;
    .fa-quote-left{
      color:#d0d0d0;
      display:block;
      font-size:20px;
    }
    em{
      color:$gray33;
      display:block;
      font-weight:700;
      line-height:22px;
      margin-top:10px;
    }
  }
  .no-svg .offering{
    background:url('../images/offer-icon.png') 0 8px no-repeat;
  }
}

/* Find Experts Part */

.offerinfo-head{
  color:#9e9e9e;
  font-weight:700;
  text-transform:uppercase;
}
.offerinfo{
  color:$gray20;
  font-weight:300;
  line-height:22px;
  margin:0 0 42px;
  p{
    margin-right:70px;
    &.service-head{
      font-size:16px;
      margin:16px 150px 16px 0;
      text-transform:uppercase;
    }
  }
}

/* Photo #3 */

#landing-photo-03{background-image:url('../images/photo03.jpg');height:300px;width:100%}

/* How It Works Part */

.how{
  color:$gray33;
  font-weight:700;
  line-height:26px;
  padding:99px 16px 42px;
  text-transform:uppercase;
}
.how-browse{background:url('../images/how-browse.svg') 50% 0 no-repeat;}
.how-shedule{background:url('../images/how-shedule.svg') 50% 0 no-repeat;}
.how-connect{background:url('../images/how-connect.svg') 50% 0 no-repeat;}
.no-svg .how-browse{background:url('../images/how-browse.png') 50% 0 no-repeat;}
.no-svg .how-shedule{background:url('../images/how-shedule.png') 50% 0 no-repeat;}
.no-svg .how-connect{background:url('../images/how-connect.png') 50% 0 no-repeat;}
.satisfaction{
  background:url('../images/goal.svg') 160px 76px no-repeat;
  color:$gray20;
  display:block;
  font-weight:300;
  line-height:26px;
  padding:26px 200px 26px 300px;
}
.no-svg .satisfaction{background:url('../images/goal.png') 160px 76px no-repeat;}
.satisfaction-head{
  color:$gray33;
  font-weight:700;
  margin:0 0 14px;
  text-transform:uppercase;
}

/* Photo #3 */

#landing-photo-04{background-image:url('../images/photo04.jpg');height:300px;width:100%}

/* We Can Help You Part */

.wecanhelpyou{
  margin:50px -15px;
  .wecanhelpyou-text p{
    line-height:26px;
    margin:0;
  }
}

/* Testimonials Part */

#landing-testimonials{
  border-top:1px dashed #ddd;
  margin-top:42px;
  padding-top:68px;
  position:relative;
  &:before{
    background:#fff;
    border:2px solid #ddd;
    @include border-radius(30px);
    @include box-shadow(0 0 0 7px #fff);
    font-size:32px;
    height:60px;
    left:50%;
    line-height:58px;
    margin:-30px 0 0 -30px;
    position:absolute;
    top:0;
    width:60px;
  }
  .carousel-inner .item{
    color:$gray20;
    text-align:center;
    .testimonial{
      font-style:italic;
      height:84px;
      line-height:26px;
      position:relative;
    }
  }
  .carousel-indicators{
    bottom:auto;
    display:block;
    left:auto;
    margin:26px auto;
    position:relative;
    li{
      background:$gray97;
      border:1px solid #bbb;
      height:12px;
      margin:0;
      width:12px;
      &.active{
        background:$gray60;
        border:1px solid $gray60;
        @include box-shadow(inset 0 0 0 2px $gray97);
      }
    }
  }
  .btn{
    background:#6b7a99;
    border:none;
    color:#fff;
    font-size:22px;
    margin:42px 0 0;
    padding:8px 40px;
    text-transform:none;
    &:hover{
      background:#596988;
    }
  }
  .postbtn{
    color:#777;
    font-weight:700;
    margin:-4px 0 0;
    text-align:center;
    text-transform:uppercase;
  }
}
#landing-testimonials:before,.testimonial:before{
  content:'\f10d';
  color:#ddd;
  display:block;
  font:400 normal 16px FontAwesome;
  text-align:center;
}

/* Footer */

#footer{
  background:#373944;
  color:#fff;
  #foot-info{
    float:left;
    width:35%;
    p{
      margin-right:25%;
    }
    .foot-text{
      line-height:22px;
      margin:24px 0 16px;
    }
    .foot-addr{
      color:#ccc;
      display:block;
      font-weight:300;
      line-height:26px;
    }
  }
  #foot-menu{
    border-left:1px dashed #464957;
    display:block;
    float:right;
    list-style:none;
    margin:4px 0 20px;
    padding:0;
    width:65%;
    a{
      color:#ccc;
      display:block;
      font-weight:300;
      line-height:26px;
    }
    li{
      display:block;
    }
    span{
      width:22px;
    }
    .foot-menu-head{
      border-bottom:1px dashed #464957;
      font-weight:700;
      margin:0 -15px;
      padding:24px 15px 12px;
      text-transform:uppercase;
    }
  }
}
#copy{
  background:#30323b;
  color:#888;
  font:700 12px/50px $bodyfont;
  text-align:center;
}

/* MEDIA Queries */

@media (max-width:991px){
  #nav{
    background:#373944;
    height:auto;
    left:auto;
    margin:0;
    min-height:50px;
    padding:0;
    position:relative;
    right:auto;
    top:auto;
    .navbar-header{
      margin:0 -20px 0 -5px;
      .navbar-toggle{
        border-color:#888;
        margin-right:0;
        position:relative;
        &:before{
          color:#bbb;
          content:'Menu';
          display:block;
          left:-64px;
          position:absolute;
          top:6px;
        }
      }
    }
    .navbar-nav{
      background:#30323b;
      float:none !important;
      margin:0 -15px 12px;
      width:auto;
      li{
        a{
          background:#222 !important;
          background:rgba(255,255,255,.2) !important;
          @include border-radius(4px);
          @include box-shadow(0 4px 4px -4px rgba(0,0,0,.2));
          margin:8px !important;
          padding:7px 17px;
          text-align:center;
          text-transform:uppercase;
          &:hover{
            background:$gray20 !important;
            background:rgba(255,255,255,.3) !important;
          }
          span:hover{
            border-bottom:none;
          }
        }
        &:first-child a{
          padding-left:0;
        }
      }
    }
  }
  .advice-graph{
    display:block;
    margin:0 auto 42px;
    max-width:314px;
    width:100%;
  }
  .person{
    margin:42px 0 0;
  }
  .service-head{
    margin:16px 0 13px;
  }
  .wecanhelpyou{
    margin:0 -15px 26px;
    .wecanhelpyou-image{
      margin:26px 0;
      text-align:center;
    }
  }
  #foot-info,#foot-menu{
    border:none;
    float:none;
    width:auto;
  }
  #foot-menu .col-md-4{
    float:left;
    width:(100%/3);
  }
}

@media (max-width:800px){
  body h1{
    font:700 32px/44px $headfont;
  }
}

@media (max-width:768px){
  .slide-text{
    padding:42px 0;
  }
  .section-description{
    margin:0 auto 42px;
  }
  #landing-main{
    height:80%;
    padding-bottom:20%;
    .heading h1{
      max-width:75%;
    }
    .btn{
      margin-top:24px;
    }
  }
  .offering{
    padding:0 20px 0 120px;
  }
  .persons{
    margin:-42px -15px 0;
  }
  .person,.person-service{
    border:none;
    max-width:302px;
    margin:42px auto 0;
  }
  .person-info{
    @include box-shadow(none);
  }
  .person-service{
    margin:0 auto;
    padding-bottom:26px;
  }
  .advices p{
    padding:20px 26px 26px 72px;
  }
  .advice{
    background-position:0 0;
    min-height:34px;
  }
  .satisfaction{
    background-position:16px 48px;
    padding:0 26px 0 106px;
  }
  .offerinfo-head{
    padding:0 106px;
  }
  #landing-offerinfos > .container > .row{
    padding:0 106px;
  }
}

@media (max-width:580px){
  #landing-main{
    display:block;
    height:auto;
    min-height:540px;
    .heading{
      display:block;
      vertical-align:top;
    }
  }
  #foot-menu .col-md-4{
    float:none;
    width:auto;
  }
}

@media (max-width:480px){
  .slide-photo{
    background-attachment:scroll !important;
    @include background-size(auto! important);
  }
  #landing-main{
    padding-top:26px;
    .heading h1{
      max-width:90%;
    }
  }
  .testimonial{
    height:150px;
  }
  #landing-testimonials .btn{
    margin:16px 0 0;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    #landing-main{background-image:url('../images/photo01_480.jpg')}
    #landing-photo-02{background-image:url('../images/photo02_480.jpg')}
    #landing-photo-02{background-image:url('../images/photo03_480.jpg')}
    #landing-photo-02{background-image:url('../images/photo04_480.jpg')}
    .slide-photo{
      @include background-size(cover !important);
    }
  }
}

@media (max-width:420px){
  #landing-offerings{
    padding:42px 0;
  }
  .offering{
    background-position:50% 0;
    height:auto;
    padding:80px 20px 0;
  }
  #landing-offerinfos .container{
    .row{
      padding:0 6px;
    }
    .offerinfo-head{
      padding:0 6px;
    }
  }
  .wecanhelpyou-text p{
    margin:0 6px;
  }
}

@media (max-width:383px){
  .navbar-default .navbar-toggle:before{
    display:none;
  }
}

@media (max-width:320px){
  .slide-photo{
    height:240px;
  }
  #landing-main{
    height:600px;
    min-height:600px;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    #landing-main{background-image:url('../images/photo01_320.jpg')}
    #landing-photo-02{background-image:url('../images/photo02_320.jpg')}
    #landing-photo-02{background-image:url('../images/photo03_320.jpg')}
    #landing-photo-02{background-image:url('../images/photo04_320.jpg')}
    .slide-photo{
      @include background-size(cover !important);
    }
  }
}

@media (min-width:992px){
  .wecanhelpyou .col-md-push-4{
    left:auto;
    right:(100%/3);
  }
}