nav[role=navigation] {
  .nav-btn {
    color: #fff !important;
    padding: 5px 25px 5px;
    margin-top: 10px;

    &:hover {
      color: #333 !important;
    }
  }
  .btn-signup {
    @extend .btn;
    @extend .btn-danger;
    @extend .nav-btn;
  }
  .btn-settings {
    @extend .btn;
    @extend .btn-primary;
    @extend .nav-btn;
  }
}