html {
  height: 100%;
}

body {
  height: 100%;
  background: #f2f2f2;
  color: #444;
  font: 400 14px/140% 'Helvetica Neue',sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  h1 {
    font: 400 28px/42px 'Helvetica Neue',sans-serif;
    margin: 42px auto 14px;
  }
}

.heading, #profile .heading {
  font: 400 28px/42px 'Helvetica Neue',sans-serif;
  margin: 42px auto 14px;
}

body h2, .heading2 {
  font: 400 22px/32px 'Helvetica Neue',sans-serif;
  margin: 40px auto 15px;
}

body h3 {
  font: 400 17px/26px 'Helvetica Neue',sans-serif;
  margin: 20px auto 15px;
}

.heading {
  margin: 26px auto 10px;
}

#account, #navtoggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.clr {
  clear: both;
  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    width: 100%;
  }
}

.half {
  float: left;
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  background: #79abe2;
  border: none;
  border-radius: 0;
}

.mv15 {
  margin: 15px 0;
}

.req {
  color: #b92429;
}

.bigger {
  font-size: 16px;
  line-height: 22px;
}

#header {
  background: #373944;
  height: 100px;
  .container {
    position: relative;
  }
}

#logo {
  margin: 26px 0 0;
  float: left;
  height: 50px;
  width: 204px;
  img {
    float: left;
    height: 50px;
    width: 204px;
  }
}

#account {
  float: left;
  height: 94px;
  overflow: hidden;
  position: absolute;
  right: 15px;
  top: 6px;
  z-index: 20;
  &:hover {
    background: #464b60;
    cursor: pointer;
  }
  &.open {
    background: #464b60;
    cursor: default;
    height: auto;
  }
}

#account-img {
  float: left;
  width: 92px;
  img {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 60px;
    height: 58px;
    margin: 14px 0 0 16px;
    width: 58px;
  }
}

#account-name {
  color: #f2f2f2;
  cursor: pointer;
  float: left;
  font-size: 18px;
  margin: 32px 0 0;
  padding-right: 58px;
  position: relative;
  white-space: nowrap;
  &:after {
    content: '\e009';
    display: block;
    float: right;
    font-family: "flaticon";
    font-size: 22px;
    position: absolute;
    top: 1px;
    right: 12px;
  }
}

#account-links {
  font-size: 15px;
  padding: 16px 0 10px;
  a {
    color: #f2f2f2;
    display: block;
    margin: 10px 16px;
  }
}

#navbar {
  background: #373944;
}

#navtoggle {
  color: #9B9FB6;
  display: none;
  font-size: 17px;
  padding: 6px 10px;
  position: absolute;
  right: 17px;
  top: 13px;
  word-spacing: 6px;
  &.in, &:hover {
    color: #BDC5F8;
    cursor: pointer;
  }
}

#nav {
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
}

#nav-tabs {
  float: left;
  margin: 0 0 -1px;
  padding-top: 18px;
  li {
    a {
      color: #444;
      font-size: 16px;
      padding: 16px 26px;
      text-transform: uppercase;
      &:hover {
        background: #f8f8f8;
      }
    }
    &.active a, a:hover {
      color: #79abe2;
    }
    &.active a:hover {
      background: #fff;
    }
  }
}

#nav-side {
  border: none;
  display: block;
  float: right;
  list-style: none;
  margin: 0 26px -1px;
  padding: 29px 0 0;
  li {
    display: block;
    float: left;
    font-size: 16px;
    a {
      border-bottom: none;
      color: #444;
      margin: 0;
      padding: 10px 12px;
    }
    &.active a, a:hover {
      color: #79abe2;
    }
    &.active a {
      border-bottom: 2px solid #fff;
    }
  }
}

#main {
  .alert {
    background: #f90;
    border: none;
    color: #fff;
    margin-top: 50px;
    padding: 10px 10px 12px;
    a {
      color: #fff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .close {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-right: 3px;
      opacity: .7;
      &:hover {
        opacity: 1;
      }
    }
  }
  background: #fff;
  height: auto;
  padding-bottom: 42px;
}

#search {
  background: #f1f6fc;
  border: none;
  padding: 18px 20px 20px;
  position: relative;
}

#search-box {
  margin-right: 150px;
  position: relative;
  input {
    border-color: #d9dee4;
    font-size: 16px;
    height: 42px;
    &::-webkit-input-placeholder, &::-moz-placeholder {
      font-style: italic;
    }
  }
}

#search-clear {
  opacity: .7;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 10;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

#search-sub {
  font-size: 14px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 19px;
  width: 131px;
}

.advice-group {
  background: #f1f6fc;
  margin: 0 0 26px;
  overflow: hidden;
}

.advice-head {
  background: #464a5e;
  color: #fff;
  font-size: 18px;
  padding: 22px 0;
  position: relative;
  text-align: center;
  &:after {
    border: 6px solid;
    border-color: #464a5e transparent transparent;
    bottom: -12px;
    content: '';
    display: block;
    height: 0;
    left: 50%;
    margin: 0 0 0 -3px;
    position: absolute;
    width: 0;
    z-index: 2;
  }
}

.advice-group {
  p {
    color: #373944;
    line-height: 17px;
    padding: 31px 28px 6px;
  }
  ul {
    color: #b3b3b3;
    margin: 0 0 20px 6px;
    li span {
      color: #6f7172;
      display: block;
      margin: 0 0 5px;
    }
  }
  .btn {
    box-shadow: 2px 2px 0 #d8dde2;
    display: block;
    height: 40px;
    margin: 0 auto 26px;
    max-width: 180px;
    width: 100%;
  }
}

#popular-offerings {
  margin: 0 -15px 42px;
  .col-md-4:last-child ul {
    border-right: 1px solid #eee;
  }
  ul {
    border-left: 1px solid #eee;
    margin: 0;
    padding: 2px 0 6px 20%;
  }
  li {
    color: #b3b3b3;
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0 0;
    a {
      text-decoration: underline;
    }
  }
}

#search h2 {
  margin: 13px 0 -16px;
}

.result {
  background: #fff;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  margin: 30px 0 0;
  padding: 15px 20px 20px;
  h3 {
    margin: 0;
  }
}

.bread {
  clear: both;
  display: block;
  list-style: none;
  margin: 42px 0 0;
  overflow: hidden;
  padding: 4px 0 8px;
  li {
    display: block;
    float: left;
    &:after {
      color: #ccc;
      content: '\e00a';
      font-family: "flaticon";
      font-size: 13px;
      padding: 0 16px;
    }
    &:last-child:after {
      display: none;
    }
  }
  a {
    text-decoration: underline;
  }
}

.result {
  .bread {
    font-size: 13px;
    margin: 0;
    li:after {
      padding: 0 6px;
    }
  }
  p {
    border-top: 1px solid #e6e6e6;
    font-size: 13px;
    line-height: 17px;
    padding-top: 6px;
  }
}

.result-bottom {
  overflow: hidden;
}

.result-info {
  display: inline-block;
  margin-top: 8px;
  text-decoration: underline;
  span {
    margin-right: 10px;
  }
}

.result .btn {
  float: right;
  font-size: 14px;
  padding: 6px 26px 6px 15px;
  &:before {
    content: '\e009';
    font-family: "flaticon";
    font-size: 16px;
    margin-right: 12px;
  }
}

.list {
  margin: 10px 0 26px;
  padding: 0 0 0 26px;
}

.list-big {
  font-size: 19px;
  line-height: 36px;
}

.list-med {
  font-size: 17px;
  line-height: 30px;
}

.list a {
  text-decoration: underline;
}

#offerings {
  margin: 0 0 50px;
  .result {
    border: 1px solid #e6e6e6;
    h3 {
      font-size: 19px;
      line-height: 24px;
      margin: 0 0 10px;
    }
    p {
      padding-top: 10px;
    }
  }
}

#filter {
  background-color: #fcfcfc;
}

.filter .nav-tabs > li.active > a {
  background-color: #fcfcfc;
  &:hover, &:focus {
    background-color: #fcfcfc;
  }
}

#filter {
  border-bottom: 1px solid #ddd;
  padding: 14px 0 13px;
  &.in {
    border: none;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}

.filter-prop {
  border-right: 1px solid #ddd;
  color: #777;
  display: inline-block;
  font-size: 12px;
  padding: 0 18px 0 12px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    border: none;
    padding-right: 0;
  }
}

.expert {
  border-bottom: 1px dashed #ccc;
  padding: 0 0 18px;
  &:first-child {
    margin-top: 30px;
  }
}

.expert-left {
  float: left;
  width: 58%;
}

.expert-right {
  float: left;
  width: 42%;
}

.expert-images {
  float: left;
  margin-right: 26px;
  text-align: center;
  width: 100px;
}

.expert-img {
  height: 100px;
  margin: 20px 0 6px;
  width: 100px;
  img {
    display: block;
    width: 100%;
  }
}

.expert-name {
  line-height: 36px;
  margin: 10px 0 0;
}

.expert-exp {
  font-size: 12px;
}

.expert-pph {
  font-size: 16px;
  line-height: 54px;
}

.price {
  color: #3f6a91;
  font-size: 32px;
}

.expert-info {
  float: left;
  width: 64%;
}

.expert-cite {
  float: left;
  font-size: 13px;
  line-height: 17px;
  margin: 23px 0 0;
  padding-right: 8%;
  width: 36%;
  .text-center {
    margin: 4px 0 0;
  }
}

.expert-history {
  float: left;
  margin: 23px 0 0;
  width: 40%;
  ul {
    margin: 0 0 2px;
    padding: 0 0 0 15px;
  }
  li {
    font-size: 13px;
    line-height: 17px;
    text-indent: -6px;
  }
}

.expert-rating {
  color: #709e32;
  float: left;
  font-size: 13px;
  margin: 60px 0 0;
  text-align: center;
  width: 25%;
}

.rating-hand {
  background: image-image-url('hand.png') 50% 50% no-repeat;
  color: #fff;
  height: 33px;
  line-height: 43px;
  overflow: hidden;
}

.expert-end {
  float: left;
  font-size: 12px;
  line-height: 14px;
  margin: 24px 0 0;
  text-align: center;
  width: 35%;
}

.expert-act {
  float: right;
  width: 80%;
  .btn {
    display: block;
    margin: 16px auto 0;
    max-width: 200px;
    width: 100%;
  }
}

.help {
  color: #a1c4eb;
  font-size: 13px;
  vertical-align: super;
}

.expert-rating .tooltip-inner {
  background: #444;
}

.loadmoreexp {
  font-size: 16px;
  margin: 26px 0;
  text-align: center;
  a {
    background: image-url('arrdown.svg') 50% 35px no-repeat;
    display: block;
    padding-bottom: 26px;
    &:hover {
      background-position: 50% -165px;
      text-decoration: none;
    }
  }
}

#contact {
  p {
    font-size: 16px;
    margin: 0 0 42px;
  }
  h1 {
    margin: 42px auto 6px;
  }
  .control-label {
    text-align: left;
  }
  textarea {
    resize: none;
    -moz-resize: none;
  }
  .btn {
    padding: 6px 20px;
  }
  .well {
    background: #f8fbfd;
    border-color: #caddf0;
    border-radius: 0;
    box-shadow: none;
    font-size: 20px;
    margin: 26px 0;
    padding: 32px 0;
    a {
      border-bottom: 1px solid;
      display: inline-block;
      line-height: 18px;
      &:hover {
        border: none;
        text-decoration: none;
      }
    }
  }
  .info {
    display: inline-block;
    margin-left: 15px;
  }
}

#settings-tabs {
  margin: 0 0 16px;
  li {
    margin-right: 16px;
    &.active {
      border-bottom: 3px solid #3f6a91;
      margin-bottom: -3px;
    }
    a {
      border: none;
      color: #aaa;
      font-size: 16px;
      padding: 8px 10px;
    }
    &.active a, a:hover {
      background: none;
      color: #3f6a91;
    }
  }
}

#settings-profile {
  .input-group, .select {
    min-width: 300px;
    width: 75%;
  }
}

.form-control-sm {
  display: inline-block;
  margin: 0 6px;
  padding: 6px 8px 6px 4px;
  text-align: center;
  width: 45px;
}

#settings-profile {
  .form-control {
    height: 32px;
  }
  .info {
    margin: 46px 0 0;
  }
}

.info {
  display: block;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0 10px 0 16px;
  position: relative;
  &:before {
    color: #999;
    left: 0;
    position: absolute;
    top: 1px;
  }
}

.input-label {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 10px 0;
  .req {
    margin-left: 20px;
  }
}

.input-wicon {
  position: relative;
  &:before {
    display: block;
    left: 10px;
    position: absolute;
    top: 9px;
    z-index: 10;
  }
  .form-control {
    padding: 6px 10px 6px 32px;
  }
}

.input-twitter:before {
  color: #79abe2;
}

.input-linkedin:before {
  color: #3f6a91;
  top: 8px;
}

.form-control.chk {
  background: image-url('chk.png') 100% 50% no-repeat white;
  padding-right: 30px;
}

.modal-content {
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


#logo_bk {
  display: block;
  font-size: 28px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  img {
    display: block;
    font-size: 28px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    width: 204px;
  }
}

.popup-slogan {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.modal-header {
  background: #f2f2f2;
  border-color: #b3b3b3;
  text-align: center;
}

.modal-body {
  padding: 26px 20px;
}

.popup-row {
  display: block;
  margin: 0 auto 10px;
  max-width: 330px;
  position: relative;
  width: 62%;
}

.popup-img img {
  border: 1px solid #aaa;
  border-radius: 60px;
  display: block;
  height: 80px;
  margin: 0 auto 10px;
  width: 80px;
}

.popup-name {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.popup-row {
  .form-control {
    display: block;
    height: 42px;
    line-height: 22px;
    padding: 10px 38px 10px 16px;
    position: relative;
    width: 100%;
  }
  .btn.flaticon {
    display: block;
    height: 42px;
    line-height: 22px;
    padding: 10px 38px 10px 16px;
    position: relative;
    width: 100%;
    font-size: 16px;
    padding: 10px 16px 10px 58px;
    text-align: left;
    &:before {
      background: rgba(255, 255, 255, 0.2);
      display: block;
      float: left;
      height: 42px;
      left: 0;
      line-height: 42px;
      position: absolute;
      top: 0;
      text-align: center;
      width: 42px;
    }
  }
}

.flaticon-linkedin {
  background: #466a92;
  &:hover {
    background: #325275;
  }
}

.flaticon-facebook {
  background: #2772be;
  &:hover {
    background: #1a61a8;
  }
}

.control-cover .btn {
  padding: 8px 16px;
  position: absolute;
  right: 3px;
  top: 3px;
}

.checked {
  background: image-url('chk.png') 0 0 no-repeat;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
}

.popup-row {
  .info, .checkbox {
    font-size: 12px;
    margin: 10px 16px;
  }
  .info:before {
    height: auto;
    line-height: inherit;
  }
}

.popup-text {
  font-size: 12px;
  line-height: 16px;
  margin: 10px auto 16px;
  max-width: 62%;
  text-align: center;
}

.popup-row .sub {
  display: block;
  font-size: 15px;
  margin: 16px auto 26px;
  padding: 10px 26px;
}

.overview-head h1 {
  margin: 58px 0 42px;
}

#quickaccess {
  background: #f2f6fc;
  border-color: #ecf0f6;
  border-radius: 0;
  margin: 42px 0 0;
  padding: 20px 20px 13px;
}

#quickaccess-head {
  color: #466a92;
  font-size: 18px;
  margin: 0 0 16px;
}

#quickaccess-text {
  margin-left: 16px;
  p {
    font-size: 16px;
  }
  a {
    line-height: 22px;
    text-decoration: underline;
  }
}

.ovr-timezone {
  background: #f2f6fc;
  margin: 42px 0 18px;
  padding: 8px 12px;
  a {
    background: #466a92;
    border-radius: 3px;
    float: right;
    &:hover {
      background: #567da8;
    }
  }
}

.overview-table-head {
  background: #466a92;
  border-radius: 2px 2px 0 0;
  color: #fff;
  float: left;
  font-size: 16px;
  height: 34px;
  margin: 20px 0 0 10px;
  padding: 9px 13px 5px;
}

.overview-table.table {
  border: 1px solid #466a92;
  border-width: 1px 0;
  td {
    border: none;
    padding: 19px 23px;
    &:first-child {
      color: #466a92;
      font-weight: 700;
    }
    &:last-child {
      text-align: right;
    }
  }
}

.table-striped > tbody > tr {
  &:nth-child(odd) > td {
    background: #f5fbfe;
  }
  &:nth-child(even) > td {
    background: #fcfeff;
  }
  &.pending td {
    background: #fffef2;
  }
}

.link-cancel {
  color: #808080;
  text-decoration: underline;
}

.link-confirm {
  color: #91c632;
  text-decoration: underline;
}

.link-deny {
  color: #c54e50;
  text-decoration: underline;
}

#filter-toggle-wrap {
  background: #fff;
}

#filter-toggle {
  background: #aaa;
  color: #fff;
  float: right;
  font-size: 22px;
  line-height: 18px;
  padding: 0 10px;
  &:hover {
    background: #888;
    cursor: pointer;
  }
}

#filter-expanded {
  background: #fcfcfc;
  border: none;
  height: 0;
  overflow: hidden;
  &.in {
    border-bottom: 1px solid #ddd;
    height: auto;
  }
  .ovr-timezone {
    margin: 24px 0 16px;
  }
  h1 {
    font-size: 22px;
    margin: 0 auto;
  }
}

.fexp-block {
  border-bottom: 1px dashed #ccc;
  padding: 20px 0;
  &:last-child {
    border: none;
  }
}

.fexp-head {
  color: #80ace4;
  font-size: 17px;
  .btn {
    border: none;
    border-radius: 3px;
    float: right;
    margin-left: 10px;
    min-width: 62px;
    padding: 2px 8px;
  }
  .btn-default {
    background: #e6e6e6;
    color: #666;
    &:hover {
      background: #eee;
    }
  }
  .btn-primary {
    background: #466a92;
    color: #fff;
    &:hover {
      background: #567da8;
    }
  }
}

.fexp-head-sm {
  font-size: 15px;
}

.fexp-body {
  padding: 16px 0;
}

.round-check {
  color: #888;
  cursor: pointer;
  float: left;
  text-align: center;
}

.fexp-body-7 .round-check {
  width: 14.28%;
}

.fexp-body-9 .round-check {
  width: 11.11%;
}

.round {
  background: #e2e2e2;
  border-radius: 15px;
  height: 30px;
  margin: 10px auto;
  width: 30px;
}

.round-check {
  &.in .round {
    background: #91c632;
  }
  input {
    display: none;
  }
  small {
    display: block;
    font-size: 11px;
    line-height: 16px;
  }
}

#filter-boxparams {
  background: #f7f7f7;
  margin: 24px 0;
  .fexp-block {
    border: none;
    padding: 25px 0 10px;
  }
  .fexp-body {
    padding: 0;
  }
  .half {
    padding: 10px 5px 10px 20px;
    &:first-child {
      border-right: 1px dashed #ccc;
      padding: 10px 20px 10px 5px;
    }
  }
}

.line-check {
  background: #eee;
  border-radius: 3px;
  color: #666;
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 2px;
  padding: 2px 4px;
  &:hover, &.in {
    background: #91c632;
    color: #fff;
    cursor: pointer;
  }
  input {
    height: 0;
    width: 0;
  }
}

/* RangeSlider */

.irs-line-mid, .irs-line-left, .irs-line-right, .irs-diapason, .irs-slider {
  background: none;
}

.irs {
  display: block;
  height: 40px;
  position: relative;
}

.irs-with-grid {
  height: 60px;
}

.irs-line {
  background: #ccc;
  display: block;
  height: 3px;
  overflow: hidden;
  position: relative;
  top: 10px;
}

.irs-line-left, .irs-line-mid, .irs-line-right {
  display: none;
}

.irs-diapason {
  background: #999;
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 100%;
}

.irs-slider {
  background: #466a92;
  border-radius: 7px;
  cursor: default;
  display: block;
  height: 13px;
  position: absolute;
  top: 5px;
  width: 13px;
  z-index: 1;
  &.single {
    left: 10px;
    &:before {
      background: transparent;
      content: '';
      display: block;
      height: 160%;
      left: -30%;
      position: absolute;
      top: -30%;
      width: 160%;
    }
  }
  &.from {
    left: 100px;
    &:before {
      background: transparent;
      content: '';
      display: block;
      height: 160%;
      left: -30%;
      position: absolute;
      top: -30%;
      width: 130%;
    }
  }
  &.to {
    left: 300px;
    &:before {
      background: transparent;
      content: '';
      display: block;
      height: 160%;
      left: 0;
      position: absolute;
      top: -30%;
      width: 130%;
    }
  }
  &.last {
    z-index: 2;
  }
  &:hover {
    background: #567da8;
  }
}

.irs-min {
  cursor: default;
  display: block;
  left: 0;
  position: absolute;
}

.irs-max {
  cursor: default;
  display: block;
  position: absolute;
  right: 0;
}

.lt-ie9 {
  .irs-min, .irs-max {
    background: #ccc;
  }
}

.irs-from, .irs-to, .irs-single {
  cursor: default;
  display: block;
  left: 0;
  position: absolute;
  white-space: nowrap;
}

.irs-from, .irs-to, .irs-single, .irs-min, .irs-max {
  background: none;
  bottom: 2px;
  color: #666;
  font-size: 11px;
  line-height: 1.333;
  padding: 1px 5px;
  text-shadow: none;
}

.lt-ie9 {
  .irs-from, .irs-to, .irs-single {
    background: #999;
  }
}

.irs-grid {
  bottom: 0;
  display: none;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

.irs-with-grid .irs-grid {
  display: block;
}

.irs-grid-pol {
  background: #99a4ac;
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
  &.small {
    height: 4px;
  }
}

.irs-grid-text {
  bottom: 0;
  color: #99a4ac;
  font-size: 9px;
  left: 0;
  line-height: 9px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 100px;
}

.irs-disable-mask {
  background: transparent;
  cursor: default;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.irs-disabled {
  opacity: 0.4;
}

#keywords {
  padding: 0 0 20px;
  .fexp-head {
    height: 20px;
  }
}

.tag, .addtag {
  background: #e3ecf8;
  border-radius: 10px;
  color: #4f7298;
  display: inline-block;
  font-size: 13px;
  line-height: 19px;
  padding: 0 21px 0 7px;
  position: relative;
}

.tag {
  &:hover {
    background: #c1d5ef;
    cursor: pointer;
  }
  &:before {
    font-size: 8px;
    position: absolute;
    right: 7px;
    top: 1px;
  }
}

.addtag {
  background: #466a92;
  color: #fff;
  padding: 0 7px 0 21px;
  &:before {
    content: '+';
    font-size: 15px;
    position: absolute;
    left: 7px;
    top: -1px;
  }
  &:hover {
    background: #567da8;
    cursor: pointer;
  }
}

#onlybook {
  cursor: pointer;
  position: relative;
  &:after {
    background: #aaa;
    border-radius: 10px;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 1;
  }
  &.in:after {
    left: 20px;
  }
  &:before {
    background: #e6e6e6;
    border-radius: 10px;
    content: '';
    float: left;
    height: 20px;
    margin-right: 16px;
    width: 40px;
  }
  input {
    display: none;
  }
}

#settings-content {
  overflow: hidden;
}

.divider {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
  padding: 0 0 20px;
  &:last-child {
    border: none;
  }
}

#settings-confident {
  h2, h3 {
    color: #466a92;
    margin: 15px 0 5px;
  }
}

.confident-head {
  margin: 0 auto 10px;
  width: 60%;
}

#settings-content .well {
  background: #f8fbfd;
  border-color: #c8daf0;
  border-radius: 0;
  margin: 20px 0;
  padding: 26px;
  text-align: left;
}

#settings-confident .well .form-control {
  background: #fff;
  border-color: #81a9dc;
  color: #466a92;
  font-size: 18px;
  height: 40px;
  margin: 20px 0;
}

.policy {
  padding-left: 42px;
  &.signed {
    background: image-url('chk.png') 4px -5px no-repeat;
  }
  p {
    margin: 0 0 5px;
  }
}

#settings-billing .control-label {
  padding: 7px 0 0;
}

#billing-advice {
  padding: 26px 68px;
  .radio {
    opacity: 0.6;
    position: relative;
    z-index: 20;
    &.sel {
      opacity: 1;
    }
  }
  p, .radio {
    margin: 0 0 20px;
  }
  label {
    display: block;
    margin-left: 15px;
  }
}

.billing-radio {
  margin-left: -35px !important;
}

.saved {
  background: image-url('chk.png') 0 1px no-repeat;
  display: inline-block;
  line-height: 34px;
  padding-left: 32px;
}

.callreq-prop {
  color: #444;
  font-size: 20px;
}

.callreq-val {
  color: #3f6a91;
  font-size: 26px;
  line-height: 36px;
  margin: 0 0 26px;
}

#callrequest {
  .btn-success, .btn-danger {
    border: none;
    border-radius: 0;
    font-size: 20px;
    padding: 6px 40px;
    margin: 0 10px 20px;
  }
  .btn-success {
    background: #8cc63f;
    &:hover {
      background: #7eb633;
    }
  }
  .btn-danger {
    background: #c1272d;
    &:hover {
      background: #b32227;
    }
  }
}

.calltable {
  background: #f5fbfe;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.calltable-prop {
  width: 20%;
}

.calltable-value {
  width: 40%;
}

.calltable-notes {
  width: 15%;
}

.calltable-nvalue {
  width: 25%;
}

.calltable {
  td {
    border: none !important;
    padding: 8px 22px !important;
  }
  tr {
    &:first-child td {
      padding-top: 20px !important;
    }
    &:last-child td {
      padding-bottom: 20px !important;
    }
  }
  tbody {
    &:nth-child(odd) {
      background: #f5fbfe;
    }
    &:nth-child(even) {
      background: #fcfeff;
    }
    + tbody {
      border-top: 1px solid #eaeff4;
    }
  }
}

.callpart-img {
  display: block;
  float: left;
  height: 50px;
  margin: 4px 20px 0 0;
  width: 50px;
}

.callpart-name {
  font-size: 18px;
  line-height: 22px;
}

.callpart-links {
  .flaticon {
    background: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 6px 0 0;
  }
  .flaticon-linkedin {
    color: #466a92;
  }
  .flaticon-twitter {
    color: #3caff0;
  }
}

.calltable-type {
  color: #444;
  cursor: pointer;
  display: inline-block;
  height: 31px;
  margin: 2px 0 16px;
  padding: 6px 12px;
  position: relative;
  &.active, &:hover {
    background: #91c632;
    color: #fff;
  }
  &.active:before, &:hover:before {
    border: 6px solid transparent;
    border-top: 6px solid #91c632;
    content: '';
    display: block;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
  }
}

#profile-main {
  margin-bottom: 26px;
}

.profile-offering {
  border-bottom: 1px solid #ccc;
  margin: 0 0 16px;
  padding: 0 0 16px;
}

.profile-info {
  padding-left: 120px;
  position: relative;
  .flaticon-star {
    color: #91c632;
  }
}

.profile-image {
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100px;
}

.profile-img {
  display: block;
  height: 100px;
  margin: 40px 0 10px;
  width: 100px;
}

.profile-image {
  .flaticon {
    background: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 4px;
  }
  .flaticon-linkedin {
    color: #466a92;
  }
  .flaticon-twitter {
    color: #3caff0;
  }
}

.profile-heading2 {
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  margin: 0 0 10px;
  padding: 10px 0;
}

.profile-side {
  background: #f7f7f7;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px 26px;
  ul {
    color: #ccc;
    padding: 0 0 0 16px;
    li {
      padding: 0 0 5px;
    }
  }
  span {
    color: #444;
  }
}

.profile-offering {
  .expert-rating {
    float: none;
    margin: 0;
    width: auto;
  }
  h3 {
    font-size: 19px;
    margin: 10px 0 0;
  }
  .bread {
    margin: 4px 0 6px;
  }
}

.btn-select {
  background: #999;
  border: none;
  border-radius: 0;
  color: #fff;
  float: right;
  margin: 8px 0 0;
  &.active, &:hover {
    background: #91c632;
    box-shadow: none;
    color: #fff;
  }
}

.profile-offering .btn-select {
  width: 120px;
}

.book {
  margin-top: 26px;
}

.book-langs {
  background: #f9fcf5;
  border: solid #cccbcb;
  border-width: 1px 0;
  overflow: hidden;
  padding: 10px;
}

.book-lang {
  border: 1px solid #f9fcf5;
  border-radius: 3px;
  color: #717271;
  float: left;
  font-size: 16px;
  padding: 8px 0;
  text-align: center;
  width: 20%;
  &.active, &:hover {
    background: #90c534;
    color: #fff;
    cursor: pointer;
  }
}

.book-periods {
  font-size: 16px;
  padding: 26px 0 16px;
  text-align: center;
}

.book-period-prev, .book-period-next {
  cursor: pointer;
  margin: 0 4px;
  position: relative;
  width: 20px;
}

.book-period, .book-period-prev, .book-period-next {
  display: inline-block;
}

.book-period-prev:before, .book-period-next:before {
  border: 6px solid transparent;
  content: '';
  display: block;
  position: absolute;
  top: 3px;
}

.book-period-prev:before {
  border-right: 6px solid #466b92;
  left: 0;
}

.book-period-next:before {
  border-left: 6px solid #466b92;
  right: 0;
}

.book-weekdays {
  margin: 0 0 4px;
}

.book-weekday {
  background: #444;
  border: 4px solid #fff;
  color: #fff;
  float: left;
  font-size: 16px;
  padding: 8px 0;
  position: relative;
  text-align: center;
  width: 14.28%;
  &.active, &:hover {
    background: #466b92;
    cursor: pointer;
  }
  &.active:before {
    border: 6px solid transparent;
    border-top: 6px solid #466b92;
    content: '';
    display: block;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
  }
}

.book-time-row {
  height: 43px;
  position: relative;
  &:nth-child(odd) {
    background: #f9fcf5;
  }
  &:nth-child(even) {
    background: #f3f9ec;
  }
}

.book-time {
  background: #999;
  border: 4px solid #f9fcf5;
  color: #fff;
  float: left;
  font-size: 16px;
  padding: 8px 0;
  position: relative;
  text-align: center;
  width: 14.28%;
  font-size: 11px;
  &.active, &:hover {
    background: #90c534;
    cursor: pointer;
  }
  &.active:before {
    border: 6px solid transparent;
    border-top: 6px solid #466b92;
    content: '';
    display: block;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
  }
}

.book-summary {
  background: #2b82bc;
  color: #fff;
  display: block;
  font-size: 15px;
  max-width: 369px;
  margin: 42px auto;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  &:hover {
    background: #2b82bc;
    color: #fff;
    display: block;
    font-size: 15px;
    max-width: 369px;
    margin: 42px auto;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  .bigger {
    font-size: 19px;
    display: block;
    padding: 0 0 6px;
  }
  &:hover {
    background: #466b92;
  }
}

#learnmore {
  overflow: hidden;
  padding: 0 14px 0 42px;
  .modal-body {
    padding: 20px 0;
  }
}

.learnmore-head {
  color: #466a92;
  margin: 10px 0 26px;
}

.learnmore-subhead {
  border-bottom: 1px solid #ccc;
  color: #466a92;
  font-size: 20px;
  padding: 10px 0;
}

#learnmore .list {
  font-size: 15px;
  padding: 0 0 0 18px;
}

.learnmore-side {
  background: #f8fbfe;
  margin: -20px 0 -1000px;
  padding: 32px 12px 1000px 32px;
  .learnmore-head {
    font-size: 18px;
    line-height: 26px;
  }
}

.btn-big {
  background: #466a92;
  display: block;
  font-size: 18px;
  margin: 0 10px 0 -10px;
  padding: 16px 0;
}

#footer {
  border-top: 1px solid #ddd;
  color: #30323b;
}

#foot-info {
  float: left;
  width: 35%;
  p {
    margin-right: 25%;
  }
}

#foot-menu {
  float: right;
  width: 65%;
}

.foot-text {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin: 24px 0 16px;
}

.foot-addr {
  display: block;
  font-size: 16px;
  line-height: 26px;
}

.foot-menu a {
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #464a5e;
}

.foot-menu-head {
  border-bottom: 1px solid #aaa;
  font-weight: 700;
  margin: 0 0 8px;
  padding: 24px 0 4px;
  text-transform: uppercase;
}

.foot-menu {
  display: block;
  list-style: none;
  margin: 4px 0 20px;
  padding: 0;
  li {
    display: block;
  }
  span {
    width: 22px;
  }
}

#copy {
  background: #373944;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 991px) {
  #nav-tabs li a {
    padding: 15px;
  }
  #nav-side {
    margin: 0 15px -1px 0;
    padding: 28px 0 0;
    li:first-child a {
      margin: 0;
    }
  }
  .filter-prop {
    border: 0;
    display: block;
    padding: 2px 0;
  }
  #popular-offerings {
    .col-md-4 {
      float: left;
      width: 50%;
    }
    ul {
      border: none !important;
      padding: 2px 0 6px 18px;
    }
  }
  .expert {
    margin: 0 0 20px;
    padding: 0 0 40px;
    &:first-child {
      margin: 0 0 20px;
    }
  }
  .expert-left, .expert-right {
    width: 100%;
  }
  .expert-cite {
    padding: 0;
    .text-center {
      text-align: center;
    }
  }
  .expert-right, .expert-history .text-center {
    text-align: center;
  }
  .expert-info, .expert-images, .expert-img {
    margin: 0 auto;
  }
  .expert-images, .expert-info, .expert-cite, .expert-history, .expert-rating, .expert-end, .expert-act {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .expert-images {
    float: none;
  }
  .expert-history ul {
    display: inline-block;
    text-align: left;
  }
  .expert-info, .expert-history, .expert-rating, .expert-end {
    margin: 20px auto 0;
  }
  .list-big, .list-med {
    margin: 10px 0 -10px;
  }
  .overview-head h1 {
    margin: 37px auto 0;
  }
  .ovr-timezone {
    margin: 26px 0 18px;
  }
  #quickaccess {
    margin: 0 0 12px;
  }
  #filter-boxparams {
    overflow: hidden;
  }
  #keywords {
    margin: 10px 0;
    text-align: center;
  }
  #onlybook {
    margin: 0 0 30px;
  }
  #foot-info {
    float: none;
    width: auto;
  }
  #foot-menu {
    float: none;
    width: auto;
    .col-md-4 {
      float: left;
      width: 33.333333%;
    }
  }
}

@media (max-width: 768px) {
  body h1, .heading {
    text-align: center;
    width: 80%;
  }
  #navbar {
    height: 56px;
    max-height: 56px;
    overflow: hidden;
    &.in {
      height: auto;
      max-height: 800px;
    }
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
  }
  #navtoggle {
    display: block;
  }
  #header {
    height: 50px;
  }
  #logo {
    margin: 5px 0 0;
  }
  #account {
    display: none;
  }
  #nav {
    border: none;
    margin: 5px 16px 16px;
    padding: 0;
    .container {
      margin: 0;
      padding: 0;
    }
  }
  #nav-tabs, #nav-side, #nav-tabs li, #nav-side li {
    background: #22242c;
    border: none;
    float: none;
    margin: 0;
    padding: 0;
  }
  #nav-tabs {
    padding-top: 10px;
    li a {
      background: #464a5e;
      border: none;
      color: #f8f8f8;
      display: block;
      margin: 0 10px 10px;
      padding: 10px 16px;
      text-align: center;
      text-transform: none;
    }
  }
  #nav-side li {
    a, &:first-child a {
      background: #464a5e;
      border: none;
      color: #f8f8f8;
      display: block;
      margin: 0 10px 10px;
      padding: 10px 16px;
      text-align: center;
      text-transform: none;
    }
  }
  #nav-tabs li {
    &.active a {
      background: #464a5e;
      border: none;
      color: #f8f8f8;
      display: block;
      margin: 0 10px 10px;
      padding: 10px 16px;
      text-align: center;
      text-transform: none;
    }
    a:hover {
      background: #55596B;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
  }
  #nav-side li a:hover, #nav-tabs li.active a:hover {
    background: #55596B;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  #nav-side li:last-child {
    padding: 0 10px 10px;
    a {
      border-bottom: none;
      margin: 0;
    }
  }
  #main {
    padding-top: 50px;
  }
  .bread {
    margin: 16px 0 0;
  }
  .advice-group {
    margin: 0 0 16px;
  }
}

@media (max-width: 580px) {
  body h1, .heading {
    font-size: 22px;
    line-height: 30px;
  }
  #logo {
    display: block;
    float: none;
    margin: 5px auto;
  }
  .navtoggle-menu {
    display: none;
  }
  #popular-offerings .col-md-4 {
    float: none;
    width: auto;
  }
  #account {
    left: 15px;
    text-align: center;
    top: 78px;
  }
  #account-img, #account-name {
    display: inline-block;
    float: none;
  }
  #account-img img {
    margin: 0;
  }
  #popular-offerings ul {
    padding-left: 48px;
  }
  .overview-table-head {
    height: 30px;
    margin: 20px 0 0 4px;
    padding: 6px 13px 1px;
  }
  .overview-table.table td {
    display: block;
    padding: 6px 16px;
    text-align: left;
    width: 100%;
    &:last-child {
      display: block;
      padding: 6px 16px;
      text-align: left;
      width: 100%;
    }
  }
  #filter-boxparams .half {
    width: 100%;
  }
  .fexp-body .round-check {
    width: 33.3333%;
  }
  #foot-info p {
    margin-right: 0;
  }
  #foot-menu .col-md-4 {
    float: none;
    width: auto;
  }
}

@media (max-width: 480px) {
  #search-box {
    margin: 0;
    position: relative;
  }
  #search-sub {
    display: block;
    margin: 16px auto 0;
    position: static;
    right: auto;
    top: auto;
  }
  .list-big {
    font-size: 16px;
    line-height: 28px;
  }
  #settings-profile {
    .input-group {
      background: none;
      text-align: center;
      width: 100%;
    }
    .form-control {
      display: block;
      float: none;
      width: 100%;
    }
    .form-control-sm {
      display: inline-block;
      width: 40px;
    }
    .input-group-btn {
      display: inline-block;
      margin: 10px 0 0;
      width: auto;
    }
    .info {
      color: #777;
      margin: 18px 0 0;
    }
  }
}

@media (max-width: 320px) {
  #account {
    float: none;
    height: auto;
    left: auto;
    margin: 0 15px;
    padding: 16px 0 0;
    position: static;
    right: auto;
    top: auto;
    width: auto;
  }
  #header {
    height: auto;
  }
  #account-name {
    display: block;
    margin: 20px 0 0;
    padding: 0;
  }
  #account-links {
    padding: 10px 0;
  }
  #account-name:after {
    display: none;
  }
}
