.offer_your_time {
  @extend .container;
  .current_position {
    background: #eee;
    padding: 10px;
  }

  .sharing_hint {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-style: italic;
    color: #666;
  }

  .save_indicator {
    position: absolute;
    top: -70px;
    right: 20px;
  }
  .timelength {
    @extend .text-center;
    padding: 5px;
    display: block;
    border: 1px solid #333;
    width: 32px;
    height: 32px;
    margin: 2px;
    float: left;

    &.active {
      background: orange;
    }
  }

  @import 'calendar';
}
.offer_window {
  .row {
    padding: 10px 0;
  }
}