.signup {
  padding-top: 50px;
  padding-bottom: 50px;

  color: #f8f8f8;
  background: #334353;
  text-align: center;

  .box {
    @extend .container;

    .signup_box {
      @extend .intro-message;

      .social_buttons {
        a {
          color: #fff;
          width: 260px;
          text-align: left;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          padding: 18px 20px 18px 0;
          border-radius: 2px;

          i {
            background-color: #00567B;
            background-image: none;
            background-position: 14px 14px;
            background-repeat: no-repeat;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            color: #FFF;
            cursor: pointer;
            display: inline;

            font-size: 26px;

            line-height: 14px;

            margin-right: 10px;
            margin-top: 1px;
            padding-bottom: 14px;
            padding-left: 22px;
            padding-right: 18px;
            padding-top: 16px;
            text-align: left;

            vertical-align: middle;
          }

          &.linkedin {
            background-color: #00638D;

            &:hover {
              background-color: #006C9A;
            }
            i {
              background-color: #00567B;
            }
          }
        }
      }
    }
  }
}