<div>
  <div class="expert-left">
    <div class="expert-info">
      <div class="expert-images">
        <div class="expert-img">
          <img ng-src="{{offer.expert.image}}" alt="{{offer.expert.name}}">
        </div>
        <a ng-href="{{offer.expert.profile_url}}" target="_blank">Full Profile</a>
      </div>
      <div class="expert-name heading2">{{offer.expert.name}}</div>
      <div class="expert-exp">
        <strong>Category Experience:</strong> {{offer.experience}} years</div>
      <div class="expert-pph">
        <span class="price">${{offer.rate}}</span>/hour</div>
    </div>
    <div class="expert-cite">
      {{offer.description}}
    </div>
  </div>
  <div class="expert-right">
    <div class="expert-history">
      <ul>
        <li ng-repeat="company in offer.expert.companies">{{company.name}}, {{company.position}}, {{company.from}}</li>
      </ul>
    </div>
    <div class="expert-rating">
      <div ng-show="offer.awesomes.length > 0">
        <div class="rating-hand">0</div>
        <span class="flaticon flaticon-help help" tooltip-placement="top" tooltip="'Awesome count' shows the average rate per hour of the last 5 awesome counts – provides a good indication to advice seekers at which rate 'awesomes' were collected"></span>
      </div>
    </div>
    <div class="expert-end">
      <div class="expert-act">
        <% if user_signed_in? %>
          <a ng-hide="offer.expert.slug === '<%= @user.slug %>'" ng-href="<%= offers_path %>/{{offer.url}}/review" class="btn btn-primary">Contact</a>
        <% else %>
          <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>
            Sign up to book
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>