<div class="teaser">
  <h2><i class="fa fa-comments"></i> A conversation with the <em>right</em> person gets you significantly ahead.</h2>
  <div id="success_graph"></div>
  <div class="explanation">
    <p>Oftentimes, it's a <strong>nudge in the right direction</strong> early on which determines most of the outcome:</p>
    <ul>
      <li>It <strong>prevents you from going down routes</strong> which are not effective and lead to mistakes, esp. on areas which are new to you</li>
      <li>The <strong>right advice can save you the time</strong> investment you would have had otherwise</li>
    </ul>
  </div>
</div>
