<div class="group_preview">
  <h2><i class="fa fa-folder-open-o"></i> Browse expert profiles (you can  signup to make an appoitment later)</h2>
  <div class="loading" ng-show="loading">
    <i class="fa fa-spinner fa-5x"></i>
  </div>
  <div class="error" ng-show="error" ng-hide="loading">
    <p><i class="fa fa-warning fa-2x"></i></p>
    <p>{{error}}</p>
  </div>
  <div ng-hide="error || loading">
    <div class="featured_category" ng-repeat="group in groups | limitTo:3"></div>
    <div class="show_all">
      <a href="#!/categories">Browse experts</a>
    </div>
  </div>
</div>
