<header class="navbar navbar-inverse navbar-fixed-top navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="logo" href="#!/">consulted.co</a>
    </div>
    <ul class="nav navbar-nav" ng-hide="loggedIn">
      <li><a href="#!/categories">Featured categories</a></li>
      <li><a href="#!/experts">Browse Experts</a></li>
      <li><a href="#!/use_cases">Typical use cases</a></li>
      <li><a href="#!/faq">How it works</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="loggedIn">
      <li><a href="#!/signup">Signup</a></li>
      <li><a href="#!/login">Login</a></li>
    </ul>

    <ul class="nav navbar-nav" ng-show="loggedIn">
      <li><a href="#!/overview">Overview</a></li>
      <li><a href="#!/request_a_call">Request a call</a></li>
      <li><a href="#!/offer_your_time">Offer your time</a></li>
      <li><a href="#!/offer_your_time">Your calls</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" ng-show="loggedIn">
      <li><a href="#!/profile/settings">Seetings</a></li>
      <li><a href="#!/profile/bookmarks">Bookmarks</a></li>
      <li><a ng-click="logout()">Logout</a></li>
      </ul>
  </div>
</header>
