<div id="profile">
  <h1 ng-show="!loading">Welcome<span ng-show="user.name"> {{user.name}}</span>!</h1>
  <div error-loading></div>
  <div ng-show="canBeAnExpert()">
    <p>Select an option from above. You're eligible to be an expert, so go on ahead.</p>
  </div>
  <div ng-show="!canBeAnExpert()">
    <p>To be an expert, we have to check your contacts. You need at least <strong>1</strong> contact so that you may offer your time.</p>
    <div>
      <a ng-click="pullContacts()" class="btn btn-primary">Pull contact information now.</a>
      <i class="fa fa-spinner fa-spin" ng-show="synching"></i>
      <p ng-show="synchError">We could not synchronize your profile. Sorry.</p>
    </div>
  </div>
  <hr>
  <div ng-hide="user.confirmed">
    <p>It appears that you have not confirmed your account yet. Unless you do so, you cannot offer your time.</p>
    <p>You can check your inbox for the confirmation email.</p>
  </div>
</div>
