<div class="satisfaction">
  <h2><i class="fa fa-check"></i> Your satisfaction is our primary goal</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, nemo hic asperiores natus eius ea quia ratione neque! Esse, quisquam nobis dolor cupiditate fugiat dicta blanditiis rerum suscipit unde possimus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorem ullam optio suscipit velit. Voluptatibus, fugiat voluptas totam ullam aliquam nesciunt sapiente voluptatum. Vel, aperiam, asperiores voluptate blanditiis tenetur iure!</p>
</div>