<div class="signup">
  <div class="logo">
    consulted.co
  </div>
  <div class="tagline">
    Giving quality advice since 1985
  </div>
  <div class="content">
    <div error-loading></div>
    <form ng-submit="signup()" name="signupForm">
      <div ng-switch on="type">
        <div ng-switch-when="success">
          <p>Thank you registering!</p>
          <p>Be sure to check your email for a confirmation.</p>
          <a href="#!/profile" class="btn btn-primary">Continue to profile</a>
        </div>
        <div ng-switch-when="email" class="email">
          <p>Your email is never shared.</p>
          <div>
            <input required check-email name="email" ng-model="user.email" type="email" placeholder="Your email address">
            <span ng-show="signupForm.email.$dirty">
              <i ng-show="signupForm.email.$valid" class="fa fa-check valid"></i>
              <i ng-show="signupForm.email.$invalid" class="fa fa-minus-circle invalid"></i>
            </span>
          </div>
          <div>
            <input required name="pw" ng-minlength="6" ng-model="user.password" type="password" placeholder="Your password">
            <span ng-show="signupForm.pw.$dirty">
              <i ng-show="signupForm.pw.$valid" class="fa fa-check valid"></i>
              <i ng-show="signupForm.pw.$invalid" class="fa fa-minus-circle invalid"></i>
            </span>
          </div>
          <div>
            <input required name="pw_repeat" password-confirmation="user.password" ng-model="user.password_confirmation" type="password" placeholder="Password repeat">
            <span ng-show="signupForm.pw_repeat.$dirty">
              <i ng-show="signupForm.pw_repeat.$valid" class="fa fa-check valid"></i>
              <i ng-show="signupForm.pw_repeat.$invalid" class="fa fa-minus-circle invalid"></i>
            </span>
          </div>
          <label>
            <input type="checkbox" ng-model="user.newsletter">
            I want to receive the newsletter
          </label><br>
          <input ng-disabled="signupForm.$invalid || saving" type="submit" value="Complete signup">
          <hr>
          <p>You can also connect your social profiles</p>
          <p>
            <a ng-click="switch()">Signup with one of your profiles</a>
          </p>
        </div>
        <div ng-switch-default class="profile">
          <a href="/users/auth/linkedin"><i class="fa fa-linkedin"></i> Connect with LinkedIn</a>
          <hr>
          <p>Of course, we won't post to your profile</p>
          <p>- or -</p>
          <p>
            <a ng-click="switch()">Signup with your email</a>
          </p>
        </div>
      </div>
      <div class="terms">
        <a href="#!/terms">Terms and conditions</a>
      </div>
    </form>
  </div>
</div>
