<div class="startpage">
  <div class="marketing" consulted-marketing></div>
  <div class="teaser">
    <p class="text">
      <strong>CONSULTED.co</strong> is a marketplace to connect advice seekers with business professionals who have a background in <strong>management consulting</strong>, <strong>finance or venture capital</strong>.
    </p>
    <div class="signup_now">
      <a class="btn btn-primary" href="#!/signup">SignUp now!</a>
      <p>It's free - you only pay for calls with experts!</p>
    </div>
  </div>

  <div class="teaser">
    <h2><i class="fa fa-comments"></i> A conversation with the <em>right</em> person gets you significantly ahead.</h2>
    <div class="graph">
      <i class="fa fa-bar-chart-o fa-fill"></i>
    </div>
    <div class="explanation">
      <p>Oftentimes, it's a <strong>nudge in the right direction</strong> early on which determines most of the outcome:</p>
      <ul>
        <li>It <strong>prevents you from going down routes</strong> which are not effective and lead to mistakes, esp. on areas which are new to you</li>
        <li>The <strong>right advice can save you the time</strong> investment you would have had otherwise</li>
      </ul>
    </div>
  </div>
  <div consulted-expert-preview></div>
  <div consulted-category-preview></div>
  <div consulted-group-preview></div>
  <div consulted-use-case-preview></div>
  <div consulted-how-it-works></div>
  <div consulted-satisfaction></div>
  <div consulted-testimonials></div>
</div>
