<div class="use_case_preview">
  <h2><i class="fa fa-search"></i> Typical use cases when people look for advice</h2>
  <div class="row">
    <div class="image" id="help"></div>
    <div class="explanation">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, ad incidunt distinctio in nesciunt nam sequi expedita quam laboriosam alias. Sed, est molestias illo reprehenderit modi et dolor veniam! Fugit.
    </div>
  </div>
  <div class="row">
    <div class="explanation">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, ad incidunt distinctio in nesciunt nam sequi expedita quam laboriosam alias. Sed, est molestias illo reprehenderit modi et dolor veniam! Fugit.
    </div>
    <div class="image" id="handshake"></div>
  </div>
</div>
