<div class="use_case_preview">
  <h2><i class="fa fa-search"></i> Typical use cases when people look for advice</h2>
  <div class="row">
    <div class="image" id="help"></div>
    <div class="explanation">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, perspiciatis veritatis debitis accusamus saepe eius repellendus atque voluptatum quas voluptatibus ipsa labore dolor itaque. Inventore, sit ullam deserunt et libero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, maxime neque at assumenda illo voluptatem recusandae laborum deserunt enim officiis incidunt id animi quaerat numquam voluptas. Distinctio, laboriosam quos explicabo.</p>
    </div>
  </div>
  <div class="row">
    <div class="explanation">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, tenetur repellendus ipsa expedita voluptatum id in minima nihil illo nisi! Odit, voluptatum, fuga rerum unde repellat maiores soluta iure eum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, numquam, deserunt laboriosam consequatur nobis quis quaerat cum velit assumenda dolorum doloremque error molestias recusandae tempore aut adipisci deleniti saepe ex.</p>
    </div>
    <div class="image" id="handshake"></div>
  </div>
  <div class="show_all">
    <a href="#!/use_cases"><i class="fa fa-arrow-circle-right"></i> Show more cases</a>
  </div>
</div>
