<div class="requests container">
  <div class="row">
    <h3>Your booking was successful</h3>
    <p class="lead">Your partner has received a confirmation email</p>
    <p>As soon as your booking is confirmed, we'll send you a notification</p>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="btn-group">
        <%= link_to search_path, class: 'btn btn-danger' do %>
          Find more experts
        <% end %>
      </div>
    </div>
  </div>
</div>