<div ng-app="consulted.history">
  <div tabs></div>
  <div ng-view></div>
  <% %w(call calls tabs).each do |partial| %>
    <script type="text/ng-template" id="<%= partial %>">
    <%= render partial: "users/history/ng/#{partial}" %>
    </script>
  <% end %>
  <% %w(confirm cancel).each do |partial| %>
    <script type="text/ng-template" id="<%= partial %>">
    <%= render partial: "users/dashboard/ng/#{partial}" %>
    </script>
  <% end %>
</div>
