<tbody>
  <tr class="{{call.class}}">
    <td>{{call.status_name}}</td>
    <td>
      <a ng-href="/groups/{{call.group.slug}}" target="_blank">{{call.group.name}}</a>
    </td>
    <td>
      {{call.active_from}} with {{call.partner_name}} for {{call.length}} minutes
    </td>
    <td ng-hide="call.active">{{call.request_status}}</td>
    <td ng-show="call.active">
      <span>PIN: {{call.pin}}</span>
    </td>
    <td ng-show="call.controllable">
      <a ng-click="confirm(call)" class="link-confirm" ng-show="!call.active && call.expert">confirm</a>
      <a ng-click="cancel(call)" class="link-cancel" ng-show="!call.active && call.seeker">abandon</a>
      <a ng-click="cancel(call)" class="link-deny" ng-show="!call.active && call.expert">deny</a>
      <a ng-click="cancel(call)" class="link-cancel" ng-show="call.active">cancel</a>
    </td>
  </tr>
</tbody>
