<div id="callrequest">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="dismiss()">&times;</button>
      <h4 class="modal-title" id="logo_bk">{{verb()}} call request</h4>
    </div>
    <div class="modal-body text-center">
      <p class="callreq-prop">Date</p>
      <p class="callreq-val">{{call.active_from | moment:'ddd, MMM DD YYYY, HH:mm'}}</p>
      <p class="callreq-prop">Call partner</p>
      <p class="callreq-val">{{call.partner_name}}</p>
      <p>
        <button type="button" ng-click="cancel()" class="btn btn-danger">{{verb()}}</button><br>
        <a ng-click="dismiss()">go back</a>
      </p>
      <p ng-show="call.status == 3"><small>As this call is already scheduled, we charge a fee to cancel <a href="https://consultedco.zendesk.com/hc/en-us/articles/201304784-Do-I-advice-seeker-need-to-pay-a-fee-if-I-cancel-the-meeting-" target="_blank">[?]</a></small></p>
    </div>
  </div>
</div>
