<h1>Hi <%= @expert.name %>!</h1>

<p>You have just confirmed a call with <%= @call.seeker.name %></p>
<p>To join the meeting, call <em><strong>+1 844-415-4000</strong></em> and enter the following PIN:</p>

<p><strong><%= @call.pin %></strong></p>