<h1>Hi <%= @seeker.name %>!</h1>

<p><%= @call.expert.name %> has just confirmed the call you requested.</p>
<p>To join the meeting, call <em><strong>+1 844-415-4000</strong></em> and enter the following PIN:</p>

<p><strong><%= @call.pin %></strong></p>