<footer id="footer">
  <div class="container">
    <div id="foot-info">
      <p class="foot-text">We democratize access to high value expert advice for businesses</p>
      <p class="foot-addr">Consulted.co, Inc<br/>28 2nd Street, 3rd Floor<br/>San Francisco, CA, 94105</p>
    </div>
    <div id="foot-menu" class="row">
      <div class="col-md-4">
        <p class="foot-menu-head">Marketplace</p>
        <ul class="foot-menu">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Success stories</a></li>
          <li><a href="#">Make the most of it</a></li>
          <li><a href="#">Join as expert</a></li>
          <li><a href="#">Confidentiality</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="foot-menu-head">Links</p>
        <ul class="foot-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="foot-menu-head">Connect</p>
        <ul class="foot-menu">
          <li><a href="#"><span class="fa fa-envelope-o"></span>Newsletter</a></li>
          <li><a href="#"><span class="fa fa-twitter-square"></span>Twitter</a></li>
          <li><a href="#"><span class="fa fa-linkedin-square"></span> Linkedin</a></li>
          <li><a href="#"><span class="fa fa-facebook-square"></span>Facebook</a></li>
          <li><a href="#"><span class="fa fa-google-plus-square"></span>Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>