<%# add navigation links to this file %>
<li>
  <a href="/">Your benefits</a>
</li>
<li>
  <a href="/">Service offerings</a>
</li>
<li>
  <a href="/">How it works</a>
</li>
<li>
  <a href="/">Typical use cases</a>
</li>
