<% if show_signup?  %>
  <p class="text-center signup-btn">
    <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>
      Sign up
    <% end %>
  </p>
  <p class="postbtn">
    <%= link_to 'interested to join as expert?', join_as_expert_path %>
  </p>
<% end %>