<% if show_signup?  %>
  <div class="text-center clr">
    <%= link_to 'Sign up', new_user_registration_path, class: 'sign-btn btn btn-primary'  %>
    <% unless current_page?(join_as_expert_path) %>
      <p class="sign-text">
        <%= link_to 'initerested to join as an expert?', join_as_expert_path  %>
      </p>
    <% end %>
  </div>
<% end %>