<% if show_signup?  %>
  <div class="signup-now">
    <p>
      <%= link_to new_user_registration_path, class: 'signup-btn btn btn-primary' do %>
        Sign up
      <% end %>
    </p>
    <% unless current_page?(join_as_expert_path) %>
      <p class="postbtn sign-text">
        <%= link_to 'initerested to join as an expert?', join_as_expert_path  %>
      </p>
    <% end %>
  </div>
  <p>&nbsp;</p>
<% end %>
